@font-face {
	font-family: "cqf";
	src: url('../fonts/cqf.eot');
	src: url('../fonts/cqf.eot?#iefix') format('eot'),
		url('../fonts/cqf.woff2') format('woff2'),
		url('../fonts/cqf.woff') format('woff'),
		url('../fonts/cqf.ttf') format('truetype'),
		url('../fonts/cqf.svg#cqf') format('svg');
}

@mixin icon-styles {
	font-family: "cqf";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == chip {
		$char: "\E001";
	}
	@if $filename == cq-62 {
		$char: "\E002";
	}
	@if $filename == cq {
		$char: "\E003";
	}
	@if $filename == fb {
		$char: "\E004";
	}
	@if $filename == green-dot {
		$char: "\E005";
	}
	@if $filename == instagram {
		$char: "\E006";
	}
	@if $filename == it {
		$char: "\E007";
	}
	@if $filename == label {
		$char: "\E008";
	}
	@if $filename == labelBlack {
		$char: "\E009";
	}
	@if $filename == labelTransparent {
		$char: "\E00A";
	}
	@if $filename == mail {
		$char: "\E00B";
	}
	@if $filename == montaj {
		$char: "\E00C";
	}
	@if $filename == pin {
		$char: "\E00D";
	}
	@if $filename == prod1 {
		$char: "\E00E";
	}
	@if $filename == prod2 {
		$char: "\E00F";
	}
	@if $filename == prod3 {
		$char: "\E010";
	}
	@if $filename == quote {
		$char: "\E011";
	}
	@if $filename == serv1 {
		$char: "\E012";
	}
	@if $filename == serv2 {
		$char: "\E013";
	}
	@if $filename == serv3 {
		$char: "\E014";
	}
	@if $filename == serv4 {
		$char: "\E015";
	}
	@if $filename == serv5 {
		$char: "\E016";
	}
	@if $filename == serv6 {
		$char: "\E017";
	}
	@if $filename == serv7 {
		$char: "\E018";
	}
	@if $filename == stanok {
		$char: "\E019";
	}
	@if $filename == star {
		$char: "\E01A";
	}
	@if $filename == tel {
		$char: "\E01B";
	}
	@if $filename == top1 {
		$char: "\E01C";
	}
	@if $filename == top2 {
		$char: "\E01D";
	}
	@if $filename == top3 {
		$char: "\E01E";
	}
	@if $filename == top4 {
		$char: "\E01F";
	}
	@if $filename == top5 {
		$char: "\E020";
	}
	@if $filename == vk {
		$char: "\E021";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}


  .icon-chip {
  	@include icon(chip);
  }

  .icon-cq-62 {
  	@include icon(cq-62);
  }

  .icon-cq {
  	@include icon(cq);
  }

  .icon-fb {
  	@include icon(fb);
  }

  .icon-green-dot {
  	@include icon(green-dot);
  }

  .icon-instagram {
  	@include icon(instagram);
  }

  .icon-it {
  	@include icon(it);
  }

  .icon-label {
  	@include icon(label);
  }

  .icon-labelBlack {
  	@include icon(labelBlack);
  }

  .icon-labelTransparent {
  	@include icon(labelTransparent);
  }

  .icon-mail {
  	@include icon(mail);
  }

  .icon-montaj {
  	@include icon(montaj);
  }

  .icon-pin {
  	@include icon(pin);
  }

  .icon-prod1 {
  	@include icon(prod1);
  }

  .icon-prod2 {
  	@include icon(prod2);
  }

  .icon-prod3 {
  	@include icon(prod3);
  }

  .icon-quote {
  	@include icon(quote);
  }

  .icon-serv1 {
  	@include icon(serv1);
  }

  .icon-serv2 {
  	@include icon(serv2);
  }

  .icon-serv3 {
  	@include icon(serv3);
  }

  .icon-serv4 {
  	@include icon(serv4);
  }

  .icon-serv5 {
  	@include icon(serv5);
  }

  .icon-serv6 {
  	@include icon(serv6);
  }

  .icon-serv7 {
  	@include icon(serv7);
  }

  .icon-stanok {
  	@include icon(stanok);
  }

  .icon-star {
  	@include icon(star);
  }

  .icon-tel {
  	@include icon(tel);
  }

  .icon-top1 {
  	@include icon(top1);
  }

  .icon-top2 {
  	@include icon(top2);
  }

  .icon-top3 {
  	@include icon(top3);
  }

  .icon-top4 {
  	@include icon(top4);
  }

  .icon-top5 {
  	@include icon(top5);
  }

  .icon-vk {
  	@include icon(vk);
  }
