.btn {
	cursor: pointer;
}

.btn-book {
	font-size: 15px;
	border: none;
	border-radius: 0;
	text-transform: uppercase;
	color: #fff;
	padding: 16px 75px 15px;
	font-weight: 900;
	cursor: pointer;
	transition: all .25s ease-in-out;
	background-color: #37ed95;
	@include filter-gradient(#37ed95, #3afea8, vertical);
	@include background-image(linear-gradient(top, #00e777 0%, #00e777 2%, #37ed95 2%,#3cee99 16%,#4cf5a7 49%,#1ef391 51%,#32fba1 82%,#3afea8 98%, #00e777 98%, #00e777 100%));
	@include box-shadow(rgba(0,231,119,0.3) 0 0 6px 1px);
	&:hover {
		color: #fff;
		background-color: rgb(56,166,235);
		@include filter-gradient(#38a6eb, #1fc6c8, vertical);
		@include background-image(linear-gradient(top, rgba(56,166,235,1) 0%,rgba(57,169,234,1) 12%,rgba(67,187,224,1) 49%,rgba(17,170,215,1) 51%,rgba(26,189,205,1) 80%,rgba(31,198,200,1) 100%));
	}
	&:active {
		color: #fff;
		background-color: rgb(2,142,230);
		@include filter-gradient(#028ee6, #65febd, vertical);
		@include background-image(linear-gradient(top, rgba(2,142,230,1) 0%,rgba(12,161,220,1) 22%,rgba(31,199,200,1) 51%,rgba(79,212,210,1) 53%,rgba(81,215,209,1) 55%,rgba(94,242,195,1) 82%,rgba(101,254,189,1) 100%));
	}
	@media (min-width: 1025px) and (max-width: 1201px) {
		padding: 16px 45px 15px;
	}
}

.btn-main {
	height: 50px;
	line-height: 54px;
	font-size: 15px;
	font-family: Circe;
	font-weight: 900;
	color: #fff;
	border: 0px solid;
	padding: 0 40px;
	@media (min-width: 1024px) {
		padding: 0 135px;
	}
}
.btn-blue {
	@include box-shadow(rgba(2,143,230,0.3) 0 0 6px 1px);
	
	background-color: #1c9ae9;
	@include filter-gradient(#1c9ae9, #00d7ff, vertical);
	@include background-image(linear-gradient(top, #1c9ae9 0%,#1ca3ec 20%,#1bbbf4 51%,#01b5f3 53%,#00d0fc 86%,#00d7ff 100%));
	&:focus, &:hover, &:active {
		color: #fff;
	}
	&:hover {
		background-color: rgb(26,233,133);
		@include filter-gradient(#1ae985, #1c9de8, vertical);
		@include background-image(linear-gradient(top, rgba(26,233,133,1) 0%,rgba(30,224,148,1) 20%,rgba(39,199,184,1) 51%,rgba(15,192,179,1) 53%,rgba(24,167,216,1) 82%,rgba(28,157,232,1) 100%));
	}
	&:active {
		color: #fff;
		background-color: rgb(28,156,233);
		@include filter-gradient(#1c9ce9, #1ae986, vertical);
		@include background-image(linear-gradient(top, rgba(28,156,233,1) 0%,rgba(24,167,216,1) 20%,rgba(14,193,176,1) 51%,rgba(38,201,181,1) 53%,rgba(30,224,148,1) 82%,rgba(26,233,134,1) 100%));
	}
}
.btn-green {
	@extend .btn-book;
	&:focus, &:hover, &:active {
		color: #fff;
	}
	&.btn-lg {
		height: 68px;
		line-height: 76px;
		font-size: 16px;
		padding-left: 55px;
		padding-right: 55px;

		@media (max-width: $screen-breakpoint - 1px) {
			width: 100%;
			max-width: 320px;
		}
	}
}