.container-contact {
	max-width: 1000px;
	.big-icon {
		i {
			font-size: 48px;
			color: $main-green-color;
		}
	}
}
.container-grape {
	background-color: #595aa1;
}


#contact-page {
	.form-container {
		margin-top: 100px;
		margin-bottom: 30px;
	}
	.form-header {
		font-size: 37px;
		font-weight: normal;
		color:#00e777;
	}
}
.font-bes {
	font-family: 'Bebas Neue';
}

.container-servives {
	max-width: 1080px;
	.lead {
		font-size: 24px;
		font-weight: 300;
	}
	.media {
		margin-top: 30px;
		margin-bottom: 20px;
	}
	.media-heading {
		color: #00e777;
		font-family: 'Bebas Neue';
		font-size: 36px;
		margin-bottom: 15px;
	}
	.media-body {
		p {
			font-size: 18px;
			font-weight: 300;
		}
	}
	.media-object {
		margin-right: 65px;
	}
	.img-top {
		width: 100%;
		margin-bottom: 26px;
	}
}

.max-width-1060 {
	max-width: 1090px;
	padding-left: 15px;
	padding-right: 15px;
}
.work-item-title {
	font-size: 24px;
	font-family: "Bebas Neue";
	color: #00e777;
	margin-top: 5px;
}
.work-attr {
	margin-top: 10px;
	margin-bottom: 16px;
	span {
		font-size: 18px;
		font-weight: 300;

	}
}

.map_container {
    bottom: -41px;
    position: relative;
    z-index: 30;
}
.container-wave-footer {
	z-index: 31;
    position: relative;
}