$cqf-font-path: "../fonts" !default;

$icon-label: "\e909";
$icon-pin: "\e900";
$icon-mail: "\e901";
$icon-tel: "\e902";
$icon-prod1: "\e905";
$icon-prod2: "\e904";
$icon-prod3: "\e903";
$icon-serv1: "\e906";
$icon-serv2: "\e90c";
$icon-serv3: "\e90b";
$icon-serv4: "\e913";
$icon-serv5: "\e908";
$icon-serv6: "\e90a";
$icon-serv7: "\e917";
$icon-cq: "\e90d";
$icon-quote: "\e90e";
$icon-top1: "\e907";
$icon-top2: "\e912";
$icon-top3: "\e90f";
$icon-top4: "\e911";
$icon-top5: "\e910";
$icon-fb: "\e914";
$icon-instagram: "\e915";
$icon-vk: "\e916";

@font-face {
  font-family: 'cqf';
  src: url('#{$cqf-font-path}/cqf.eot?io5sg2');
  src: url('#{$cqf-font-path}/cqf.eot?io5sg2#iefix') format('embedded-opentype'),
    url('#{$cqf-font-path}/cqf.ttf?io5sg2') format('truetype'),
    url('#{$cqf-font-path}/cqf.woff?io5sg2') format('woff'),
    url('#{$cqf-font-path}/cqf.svg?io5sg2#sqf') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cqf' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-label {
  &:before {
    content: $icon-label;
  }
}
.icon-pin {
  font-size: 48px;
  color: #00e777;
  &:before {
    content: $icon-pin;
  }
}
.icon-mail {
  font-size: 48px;
  color: #00e777;
  &:before {
    content: $icon-mail;
  }
}
.icon-tel {
  font-size: 42px;
  color: #00e777;
  &:before {
    content: $icon-tel;
  }
}
.icon-prod1 {
  font-size: 85px;
  &:before {
    content: $icon-prod1;
  }
}
.icon-prod2 {
  font-size: 98px;
  &:before {
    content: $icon-prod2;
  }
}
.icon-prod3 {
  font-size: 100px;
  &:before {
    content: $icon-prod3;
  }
}
.icon-serv1 {
  font-size: 90px;
  &:before {
    content: $icon-serv1;
  }
}
.icon-serv2 {
  font-size: 80px;
  &:before {
    content: $icon-serv2;
  }
}
.icon-serv3 {
  font-size: 100px;
  &:before {
    content: $icon-serv3;
  }
}
.icon-serv4 {
  font-size: 100px;
  &:before {
    content: $icon-serv4;
  }
}
.icon-serv5 {
  font-size: 100px;
  &:before {
    content: $icon-serv5;
  }
}
.icon-serv6 {
  font-size: 100px;
  &:before {
    content: $icon-serv6;
  }
}

.icon-serv7 {
  font-size: 100px;
  &:before {
    content: $icon-serv7;
  }
}


.icon-cq {
  &:before {
    content: $icon-cq;
  }
}
.icon-quote {
  &:before {
    content: $icon-quote;
  }
}


.icon-top1 {
  font-size: 90px;
  &:before {
    content: $icon-top1;
  }
}
.icon-top2 {
  font-size: 75px;
  &:before {
    content: $icon-top2;
  }
}
.icon-top3 {
  font-size: 94px;
  &:before {
    content: $icon-top3;
  }
}
.icon-top5 {
  font-size: 90px;
  &:before {
    content: $icon-top5;
  }
}
.icon-top4 {
  font-size: 90px;
  &:before {
    content: $icon-top4;
  }
}
.icon-top1, .icon-top2, .icon-top3, .icon-top4, .icon-top5 {
  color: $main-green-color;
}


.icon-fb {
  &:before {
    content: $icon-fb;
  }
}
.icon-instagram {
  font-size: 20px;

  &:before {
    content: $icon-instagram;
  }
}
.icon-vk {
  font-size: 11.6px;
  &:before {
    content: $icon-vk;
  }
}
