// Import the fonts
@font-face {
  font-family: 'Bebas Neue';
  font-weight: normal;
  src: url('../fonts/bebasneueregular.eot') format('eot'),
  url('../fonts/bebasneueregular.woff') format('woff'),
  url('../fonts/bebasneueregular.ttf') format('truetype'),
  url('../fonts/bebasneueregular.svg#bebasneueregular') format('svg');
}

@font-face {
  font-family: 'Bebas Neue';
  font-weight: bold;
  src: url('../fonts/BebasNeueBold.eot');
  src: url('../fonts/BebasNeueBold.woff') format('woff'),
  url('../fonts/BebasNeueBold.eot') format('embedded-opentype'),
  url('../fonts/BebasNeueBold.ttf') format('truetype'),
  url('../fonts/BebasNeueBold.svg#BebasNeueBold') format('svg');
}

@font-face {
  font-family: Circe;
  font-weight: 300;
  src: url('../fonts/Circe-Light.eot') format('eot'),
  url('../fonts/Circe-Light.woff') format('woff'),
  url('../fonts/Circe-Light.ttf') format('truetype'),
  url('../fonts/Circe-Light.svg#Circe-Light') format('svg');
}
@font-face {
  font-family: Circe;
  font-weight: normal;
  src: url('../fonts/Circe-Regular.eot') format('eot'),
  url('../fonts/Circe-Regular.woff') format('woff'),
  url('../fonts/Circe-Regular.ttf') format('truetype'),
  url('../fonts/Circe-Regular.svg#Circe-Regular') format('svg');
}

@font-face {
  font-family: Circe;
  src: url('../fonts/Circe-ExtraBold.eot');
  src: url('../fonts/Circe-ExtraBold.woff2') format('woff2'),
       url('../fonts/Circe-ExtraBold.woff') format('woff'),
       url('../fonts/Circe-ExtraBold.ttf') format('truetype'),
       url('../fonts/Circe-ExtraBold.svg#Circe-ExtraBold') format('svg'),
       url('../fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Circe;
  // src: url('../fonts/Circe-Bold.eot');
  src: url('../fonts/Circe-Bold.woff') format('woff'),
       url('../fonts/Circe-Bold.ttf') format('truetype'),
       url('../fonts/Circe-Bold.svg#Circe-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
