@import "compass";
@import "bootstrap";
@import "slick";
@import "slick-theme";
@import "fonts";
@import "icons";
.icon-vk {
	font-size: 11.6px;
}
@import "ui";
@import "quest";
@import "btn";

body {
	background-color: #fff;
}
.container-top-bgr {
	position: absolute;
	width: 100%;
	padding-top: 120px;
	overflow: hidden;
	@media (min-width: $screen-breakpoint + 1px) {
		padding-top: 180px;
	}
	@media (min-width: 1280px) {
		padding-top: 130px;
	}
	@media (min-width: 1281px) {
		padding-top: 60px;
		min-height: 580px;
	}
	@media (min-width: 1650px) {
		padding-top: 110px;
	}
}
.container-max-width-1800 {
	max-width: 1800px;
}
.container-max-width-1900 {
	max-width: 1900px;
}
.img-top-container {
	display: inline-block;
	position: relative;
	overflow: hidden;
	@media (max-width: 1299px) and (min-width: 1200px) {
		max-width: 360px;
		margin-top: 0;
	}
	@media (max-width: 1600px) and (min-width: 1300px) {
		max-width: 400px;
	}
	@media (min-width: 1600px) and (max-width: 1800px) {
		max-width: 450px;
	}
}
.img-top-container-1 {
	max-width: 530px;
	@media (min-width: 1200px) and (max-width: 1280px) {
		max-width: 330px;
		margin-top: -40px;
	}
	@media (min-width: 1281px) and (max-width: 1380px) {
		max-width: 330px;
		margin-top: 20px;
	}
	@media (max-width: 1599px) and (min-width: 1381px) {
		max-width: 400px;
		top: 60px;
	}
}
.img-top-container-2 {
	overflow-x: hidden;
	top: 10px;
	right: -15px;
	@media (max-width: 1599px) and (min-width: 1381px) {
		max-width: 450px;
		top: 120px;
		right: -15px
	}
	@media (min-width: 1281px) and (max-width: 1380px) {
		max-width: 380px;
		top: 60px;
		right: -15px;
	}
	@media (min-width: 1600px) and (max-width: 1800px) {
		top: 80px;
		max-width: 500px;
	}
	@media (min-width: 1800px) {
		top: 90px;
		right: 0px;
	}
	@media (max-width: $screen-breakpoint) {
		top: 50px;
	}
}
.img-top-bgr-1 {
	position: relative;
}
.img-top-bgr-2 {
	position: relative;
}
.top-descr .top-slider {
	margin-top: 0;
	@media (max-width: 480px) {
		padding: 0 20px;
	}
}
.top-slider {
	margin-top: 80px;
}
.icon-w-top {
	width: 132px;
	background-image: url(../img/w-top-icons-sprite3.png);
	background-repeat: no-repeat;
	height: 110px;
	display: inline-block;
	background-position: left center;
	filter: drop-shadow(8px 9px 9px rgba(0,0,0,0.3));
	@media (max-width: 480px) {
		filter: none;
	}
	&.icon-w-top-1 {
		background-position: 0 center;
	}
	&.icon-w-top-2 {
		background-position: -132px center;
	}
	&.icon-w-top-3 {
		background-position: -264px center;
	}
	&.icon-w-top-4 {
		background-position: -396px center;
	}
	&.icon-w-top-5 {
		background-position: -528px center;
	}
}
.container-top {
	padding-top: 0;
	@media (max-width: $screen-breakpoint - 1px) {
		padding-top: 72px;
	}
	@media (min-width: 1380px) {
		padding-top: 90px;
	}
	@media (min-width: $screen-breakpoint) {
		min-height: 800px;
		padding-top: 80px;
		.top-descr {
			margin-bottom: 0;
		}
	}
	@media (min-width: 1200px) {
		.top-descr {
			margin-top: 10px;
			margin-bottom: 40px;
		}
	}
	@media (min-width: 1380px) {
		.top-descr {
			margin-top: 0px;
			margin-bottom:100px;
		}
	}
	@media (min-width: 1600px) {
		min-height: 1000px;
		.top-descr {
			margin-bottom: 80px;
		}
	}
}
.container-max-width {
	max-width: 1520px;
	margin: 0 auto;
}
.container-margin {
	margin-bottom: 40px;
	margin-top: 46px;
	@media (min-width: $screen-breakpoint) {
		margin-top: 95px;
		margin-bottom: 100px;
	}
}
@media (min-width: $screen-breakpoint) {
	#order {
		.container-margin {
			margin-top: 0;
		}
	}
}
.container-deepblue {
	background-color: #211e3f;
}
.container-purple {
	background-color: #4f5091;
}
.container-ocean {
	background-color: #4f5091;
}
.container-world {
	position: relative;
	overflow: hidden;
	@media (max-width: 480px) {
		padding-left:0;
		padding-right:0;
	}
}
.container-greentexture {
	background: url(../img/bgr-green.jpg) no-repeat top center;
	background-size: cover;
}
.container-green {
	background-color: $main-green-color;
	background-size: cover;
}
.text-light {
	font-weight: 300;
}
.maxw {
	margin: 0 auto;
	max-width: 600px;
	@media (min-width: $screen-breakpoint) {
		max-width: 760px;
	}

	@media (max-width: $screen-breakpoint - 1px) {
// 		width: 85vw;
	}
}

//  NAVBAR
//===============================
nav.navbar {
	margin-right: 20px;
	margin-left: 20px;
	@media (min-width: 992px) {
		margin-right: -15px;
		margin-left: -15px;
	}
}
.navbar-main, .navbar-brand svg, .navbar-form.navbar-right {
	transition: all 0.2 ease-in-out;
}
nav.affix.navbar {
	.navbar-main {
// 		min-height: 76px;
		height: 76px;
// 		line-height: 76px;
	}
	.navbar-brand svg {
		max-width: 170px;
	}
	.navbar-form.navbar-right {
// 		margin-top: 12px;
	}
}

.navbar-main {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 18px;
	.nav.navbar-nav {
		display: inline-block;
		float: none;
		margin: 0 auto;
	}
}

.navbar-form.navbar-right {
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 0;
	margin-top: 13px;
	text-align: right;

	@media (min-width: 1200px) {
		margin-top: 26px;
	}
}

@keyframes hue {
  0%, 100%  { filter: hue-rotate(0deg); }
  50% { filter: hue-rotate(180deg); }
}

.navbar-brand {
	white-space: nowrap;
	width: 260px;
	@media (min-width: 767px) {
		padding-top: 20px;
	}
	@media (max-width: 340px) {
		width: 240px;
	}
	@media (min-width: $screen-breakpoint) {
		padding-top: 15px;
	}
	svg {
		display: inline-block;
		float: left;
		width: 260px;
		height: auto;
		animation: hue 5s infinite;
		filter: saturate(5);
		@media (max-width: 1199px) {
			max-width: 170px;
// 			top: -5px;
// 			position: relative;
		}
	}
	.brand-text {
		display: inline-block;
		font-size: 18px;
		height: 35px;
		line-height: 35px;
		margin-top: 3px;

		@media (min-width: 1200px) {
			margin-top: 0px;
			font-size: 27px;
			height: 28px;
			line-height: 28px;
			top: 6px;
			height: 54px;
			line-height: 54px;
		}
		font-weight: 700;
		text-transform: uppercase;
		position: relative;
		padding-left: 8px;
		color: #fff;
		span {
			color: $main-green-color;
		}
	}
}

//===============================
.container-top .page-header {
	margin-top: 70px;
	@media (min-width: $screen-breakpoint + 1px) {
		margin-top: 135px;
	}
	@media (min-width: 1280px) and (max-width: 1380px) {
		margin-top: 15px;
	}
	@media (min-width: 1381px) and (max-width: 1440px) {
		margin-top: 80px;
	}
	@media (max-width: $screen-breakpoint - 1px) {
		margin-top: 20px;
		height: 50vw;
	}
}

.page-header {
	padding-bottom: 0;
	max-width: 715px;
	margin-left: auto;
	margin-right: auto;

	background-image: url(../svg/ellips.svg), url(../svg/ellips2.svg);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
	display: flex;
	align-items: center;
	justify-content: center;
	@media (min-width: $screen-breakpoint) {
		min-height: 392px;
		margin-bottom: 0;
	}
	@media (max-width: $screen-breakpoint - 1px) {
		padding-bottom: 0;
		margin-bottom: 0;
	}
	@media (min-width: 1650px) {
		margin-top: 165px;
	}
// 	@media (max-width: $screen-breakpoint) {
// 		background-size: contain;
// 	}
	h1 {
		font-size: 24px;
		line-height: 1.4;
		font-weight: bold;
		color: #3d3e84;
		padding: 0 20px;
		@media (min-width: $screen-breakpoint + 1px) {
			font-size: 40px;
		}
		@media (max-width: $screen-breakpoint) {
			font-size: 24px;
		}
		@media (max-width: $screen-breakpoint - 1px) {
			margin-bottom: 0;
			margin-top: 0;
			font-size: 18px;
		}
		@media (min-width: 768px) and (max-width: 980px) {
			font-size: 34px;
		}
		@media (min-width: 981px) and (max-width: 1199px) {
			font-size: 28px;
		}
	}

	@media (min-width: 1680px) {
		margin-top: 190px;
		margin-bottom: 60px;
		h1 {
			span {
				font-size: 72px;
			}
			small {
				font-size: 36px;
			}
		}
	}

	@media (min-width: 1250px) and (max-width: 1380px) {
		max-width: 600px;
		background-size: contain;
		margin-bottom: 0;
		h1 {
			font-size: 30px;
			&.second-line {
				small {
					font-size: 26px;
				}
			}
		}
	}
}

.big-icon {
	height: 100px;
	line-height: 100px;
	margin-bottom: 24px;
	@media (max-width: 480px) {
		zoom: 0.9;
	}
	.icon-top1,
	.icon-top2,
	.icon-top3,
	.icon-top4,
	.icon-top41,
	.icon-top5 {
		color: $main-green-color;
		font-size: 4em;
	}
}
.col-20 {
	min-height: 1px;
	float: left;
	width: 100%;
	padding: 0 20px;
	&:focus {
		outline: none;
	}
	p {
		line-height: 30px;
		// line-height: 20px;
		// font-size: 10.5px;
	}
	@media (min-width: $screen-breakpoint - 1px) {
		width: 20%;
		.big-icon {
			margin-bottom: 35px;
		}
	}
	@media (min-width: 1600px) {
		padding-top: 00px;
	}

	@media (min-width: 1280px) and (max-width: 1440px) {
		margin-top: -50px;
		padding-top: 0px;
	}
}
.container-features {
	.col-20 {
		@media (min-width: 1280px) and (max-width: 1440px) {
			margin-top: 0;
		}
	}
}
@media (max-width: $screen-breakpoint - 1px) {
	.top-slider {
// 		margin-left: -15px;
// 		margin-right: -15px;
		padding-bottom: 0;
	}
}

//  QUESTS
//===============================
.quests {
	margin-bottom: 30px;
	overflow: hidden;
	max-height: none;
	transition: max-height 0.25s ease-out;
	&.quests-page {
		overflow: visible;
	}
}
.quest-wrapper {
	.quest {
		overflow: hidden;
		img {
			transition: all .4s ease-in-out;
		}
		&:hover {
			img {
				transform: scale(1.1);
			}
		}
	}
}
.quest {
	position: relative;
	display: block;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	cursor: pointer;
	.quest-title-container {
		width: 100%;
		position: absolute;
		top: 50%;
		display: block;
		transform: translateY(-50%);
	}
	.quest-title {
		font-size: 24px;
		font-weight: normal;
		margin-bottom: 0;
		margin-top: 0;
		color: #fff;
		display: block;
		@media (min-width: $screen-breakpoint) {
			font-size: 34px;
			margin-bottom: 12px;
			margin-top: 12px;
		}
		font-family: 'Bebas Neue';
	}
	.quest-price {
		text-align: right;
		background: url(../icons/labelTransparent.svg);
		background-repeat: no-repeat;
		width: 124px;
		height: 38px;
		overflow: hidden;
		display: inline-block;
		line-height: 38px;
		font-weight: normal;
		padding-right: 12px;
		margin-top: 10px;
		color: #fff;
	}
	&:hover {
		.quest-price {
			background: url(../icons/labelBlack.svg);
		}
	}
}
.quest-title-link {
	position: relative; 
	left: 0;
	top: 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 36px;
	font-family: 'Bebas Neue';
	// @media (min-width: $screen-breakpoint) {
	// 	font-size: 34px;
	// 	margin-bottom: 12px;
	// 	margin-top: 12px;
	// }
}
.quest-wrapper {
	width: 100%;
	/* whatever width you want */
	display: inline-block;
	position: relative;
}
.col-quest {
	margin-bottom: 30px;
}
#items {
	// background: url(../svg/ellipsBrightRed.svg), url(../svg/ellipsBrightGreen.svg);
	// background-position: 65vw 300px, 67vw 200px;
	// background-repeat: no-repeat;
}


//  CAROUSEL
//===============================
.row-carousel {
	margin-top: 32px;
    margin-bottom: 39px;
	@media (max-width: $screen-breakpoint - 1px) {
		margin-bottom: 20px;
	}
}
.p-items-descr {
	font-weight: 300;
	line-height: 30px;
	margin-top: 20px;
	min-height: 60px;
	text-transform: uppercase;
	font-size: 24px;
	font-family: 'Bebas Neue';
	text-align: center;
	
	@media (max-width: $screen-breakpoint - 1px) {
		font-size: 14px;
		//padding-left: 10px;
		margin-top: 15px;
	}
}
#items {
	z-index:100;
	.container-margin {
		margin-bottom: 40px;
		@media (min-width: $screen-breakpoint) {
			margin-top: 16px;
			margin-bottom: 100px;
		}
	}
	h3 {
		margin-bottom: 50px;
	}
}
.item-container {
	margin-bottom: 20px;
}
.item-wrapper {
	overflow:hidden;
	.item {
		img {
			max-height: 275px;
			object-fit: cover;
			width: 100%;
			transition: all .4s ease-in-out;

			@media (max-width: 1650px) {
				max-height: 190px;
			}
			@media (max-width: 1024px) {
				max-height: 150px;
			}
			@media (max-width: 768px) {
				max-height: 180px;
			}
		}
		&:hover {
			img {
				transform: scale(1.1);
			}
		}
	}

}
.carousel-slick {
	@media (max-width: $screen-breakpoint - 1px) {
		img {
			max-height: 300px;
		}
	}
}
.row-carousel-work .carousel-slick {
	@media (min-width: 768px) and (max-width: $screen-breakpoint - 1px) {
		img {
			max-height: 600px;
		}
	}
}

//  CLIENTS
//===============================
#clients {
	.container-margin {
		@media (min-width: 1025px) {
			background-image: url(../svg/bg100.svg), url(../svg/bg100-2.svg);
			background-position: top center;
			background-size: 100%;
			background-repeat: no-repeat;
		}
		min-height: 440px;
		@media (min-width: 1600px) {
			min-height: 631px;
		}
		@media (min-width: $screen-breakpoint) and (max-width: 1400px) {
			min-height: 425px;
			margin-bottom: 50px;
		}
		@media (max-width: 1024px) {
			min-height: 380px;
			padding-top: 20px;
			background: #008ce6;
		}
		@media (max-width: 768px) {
			min-height: 360px;
		}
	}
	h3 {
		color: #fff;
		margin-top: 40px;
		@media (min-width: 1600px) {
			margin-top: 60px;
			margin-bottom: 50px;
		}
		@media (max-width: $screen-breakpoint - 1px ) {
			margin-top: 18px;
			text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
		}
	}
}
.client1 {
    margin-top: 58px;
}
.client3 {
    margin-top: 68px;
}
.client4 {
    margin-top: 20px;
}

.client5 {
    margin-top: 30px;
}



//  SERVICES
//===============================
#services {
	.container-margin {
		@media (min-width: $screen-breakpoint) {
			margin-top: 75px;
	    	margin-bottom: 114px;
	    }
	}
}
.service-square {
	text-align: center;
	max-width: 375px;
	background-color: rgba(33, 30, 63, 0.5);
	margin: 10px auto;
	@media (min-width: $screen-breakpoint) {
    	margin: 42px auto -12px;
		width: 375px;
		height: 394px;
	}
	.big-icon {
		margin-top: 50px;
		height: 96px;
		display: inline-block;
	}
}
.service-descr {
	font-weight: 300;
	line-height: 30px;
	padding: 0 15px 20px;
	@media (min-width: $screen-breakpoint) {
		padding: 0 45px;
	}
}
.p-service {
	font-size: 28px;
	font-weight: 300;
	font-family: Circe;
	color: #3d3e84;
	margin-top: 30px;
	max-width: 470px;
	@media (min-width: 1440px) {
		font-size: 32px;
	}
	@media (min-width: 1600px) {
		font-size: 36px;
	}
	@media (max-width: $screen-breakpoint - 1px) {
		font-size: 18px;
		margin-top: 10px;
		margin-left: 20px;
	}
}
.img-service {
	max-width: 180px;
	filter: drop-shadow(12px 7px 9px rgba(0,0,0,0.3));
	padding-bottom: 20px;

	@media (max-width: $screen-breakpoint - 1px) {
		max-width: 100px;
	}
}
.media-left-service {
	width: 230px;
	padding-right: 45px;
	@media (max-width: $screen-breakpoint - 1px) {
		padding-right: 0;
	}
}

// ABOUT US
//===============================
#about_us {
	position: relative;
	background-image: url(../img/world.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	.container-margin {
		@media (min-width: $screen-breakpoint) {
			margin-top: 69px;
		}
	}
}
.about-header {
	font-family: Circe;
	@media (min-width: $screen-breakpoint) {
		font-size: 36px;
	}
}
.img-about {
	height: 115px;
	margin-bottom: 30px;
	margin-top: 30px;
	img {
		filter: drop-shadow(12px 7px 9px rgba(0,0,0,0.3));
	}
}
.img-about-1 {
	img {
		max-width: 126px;
	}
}
.img-about-2 {
	img {
		max-width: 129px;
	}
}
.img-about-3 {
	img {
		max-width: 79px;
	}
}
.lead-about-us {
	font-weight: 300;
	line-height: 1.333;
    margin-top: 22px;
    margin-bottom: 42px;

	font-size: 18px;
	@media (min-width: $screen-breakpoint) {
		font-size: 36px;
	}
	span {
		color: $main-green-color;
	}
}
.p-about-us {
	font-size: 20px;
	font-weight: 300;
	padding-left: 17px;
	padding-top: 6px;
}
.stat-about-us {
	max-width: 660px;
	margin: 0 auto;
	@media (max-width: $screen-breakpoint - 1px) {
		.media-body {
			display: block;
			width: 100%;
			text-align: center;
			.p-about-us {
				padding-top: 15px;
				padding-left: 0;
			}
		}
		.media-left {
			display: block;
			width: 100%;
			padding-right: 0;
		}
	}
}
.circle-about-us {
	border-radius: 50%;
	width: 64px;
	height: 64px;
	display: inline-block;
	text-align: center;
	line-height: 70px;
	font-size: 30px;
	font-weight: 300;
	&.circle-about-us-white {
		color: #fff;
		background-color: rgba(0,0,0,0);
		border: 2px solid #fff;
		line-height: 68px;
	}
	&.circle-about-us-green {
		color: #fff;
		background-color: $main-green-color;
	}
}
.world-bgr {
	width: 1866px;
	height: 710px;
	position: absolute;
	bottom: 0;
	background-image: url(../img/world.png);
	background-repeat: no-repeat;
	background-position: bottom center;
    background-size: 1866px 710px;
    left: 50%;
    transform: translateX(-50%);
}
.place-label {
	position: absolute;
	cursor: pointer;
}
.place-label-1 {
	bottom: 47.5%;
	left: 56.9%;
}
.place-label-2 {
	bottom: 38.1%;
	left: 49.2%;
}
.place-label-3 {
	bottom: 41.7%;
	left: 11.2%;
}
.place-label-4 {
	bottom: 36.4%;
	left: 21.5%;
}
.place-label-5 {
	bottom: 33.8%;
	left: 25.7%;
}
.place-label-6 {
	bottom: 44.7%;
	left: 54.1%;
}
.place-label-7 {
	bottom: 40.5%;
	left: 56.2%;
}
.place-label-8 {
	bottom: 52.6%;
	left: 55.2%;
}
.place-label-9 {
	bottom: 34.6%;
    left: 59.6%;
}
.place-label-10 {
	bottom: 22.6%;
    left: 58.2%;
}

// PRODUCTION
//===============================
#production {
	.container-margin {
		max-width: 1210px;
		@media (min-width: $screen-breakpoint){
			margin-top: 50px;
			margin-bottom: 79px;
		}
	}
}
.product-descr {
	font-weight: 300;
    line-height: 1.3;
	font-size: 16px;
	@media (min-width: $screen-breakpoint){
		font-size: 24px;
	}
}
.products-descr {
	margin-top: 70px;
	font-size: 18px;
	font-weight: 300;
	@media (min-width: $screen-breakpoint){
		font-size: 28px;
	}
	@media (min-width: 1200px){
		font-size: 30px;
	}
	strong {
		font-weight: bold;
	}
}
.product-icon {
	margin-top: 30px;
	i {
		font-size: 85px;
	}
	@media (min-width: $screen-breakpoint){
		margin-top: 70px;
		margin-bottom: 27px;
	}
}


// FORM
//============================

.col-form .checkbox {
	margin-top: 0;
	label {
		font-weight: 300;
		font-family: Circe;
		font-size: 16px;
		color: #4f5091;
		a {
			color: #00e777;
			text-decoration: underline;
			&:hover, &:focus {
				text-decoration: none;
			}
		}
	}
}
.img-order {
	margin-top: 65px;
	img {
		filter: drop-shadow(12px 7px 9px rgba(0,0,0,0.3));
	}
}
.col-form {
	padding-left: 0;
	padding-right: 0;
	& + .col-form {
		margin-left: -1px;
	}
	.form-group {
		margin-bottom: 10px;
		&.form-group-name {
			//margin-bottom: 28px;
		}
	}
}
.row-form {
	margin: 25px auto 0;
	max-width: 782px;
	.form-control {
		height: 47px;
	}
	.form-group {
		label {
			//margin-bottom: 15px;
			margin-bottom: 5px;
			width: 100%;
			font-size: 18px;
			font-weight: 300;
			color: #bbbbbb;
			&.label-budget {
				font-size: 24px;
				margin-top: 24px;
			}
		}
	}
}
textarea.form-control.form-textarea {
	//margin-bottom: 35px;
	margin-bottom: 15px;
	height: 100px;
	@media (min-width: 1440px){
		height: 200px;
	}
}
.td-budget {
	width: 135px;
}
.budget-min, .budget-max {
	font-weight: 300;
	font-size: 14px;
	color: #4f5091;
	padding: 0 30px;
}
.table-slider {
	margin-top: 10px;
	//margin-bottom: 80px;
	margin-bottom: 40px;
	&>tbody>tr>td {
		border-top: none;
		padding: 0;
	}
}
button.close {
	background: url(../svg/cancel.svg) no-repeat left top;
	width: 22px;
	height: 22px;
	opacity: 1;
	margin-right: 19px;
	margin-top: 19px;
	cursor: pointer;
	z-index: 20;
	position: relative;
	outline: none;
}
.form-control {
	text-align: center;
	color: #4f5091;
	.form-error & {
		background-color: rgba(255, 0, 0, 0.07);
	}
}
.help-block {
	margin-top: 19px;
	display:none;
	.form-error & {
		display:block;
		font-size: 16px;
		color: #ff0000;
		text-align: center;
		font-weight: 300;
	}
}
.order-form-title {
	display: none;
	margin-bottom: 10px;
	h3 {
		font-size: 36px;
		font-family: Circe;
		font-weight: normal;
		color: #3d3e84;
		margin-bottom:0;
		margin-top:0;
	}
}
#orderModal {
	color: #000;
	z-index:1080;
	@media (min-width: 768px) {
		top: 60px;
	}
	.order-form-title {
		display: block;
	}
	.modal-dialog {
		transition: all 0.5s ease-in;
	}
	&.order-submited {
		.modal-dialog {
			width: 650px;
		}
	}
	h2 {
		font-size: 36px;
		margin-bottom: 20px;
	}
	.row-form {
		max-width: 780px;
	}
	.form-control {
		border-color: #d9d9d9;
		color: #000;
		text-align: center;
	}
	.ui-slider-horizontal {
		background-color: #d9d9d9;
	}
	.tooltip-inner {
		color: #000;
	}
	.budget-min, .budget-max {
		color: #999999;
	}
	button.close {
		background: url(../img/close-gr.png) no-repeat left top;
	}
	.hidden-in-modal {
		@media (max-width: $screen-breakpoint - 1px) {
			display: none;
		}
	}
}


// CONTACTS
//===============================
#contact {
	.container-margin {
		margin-top: 56px;
		margin-bottom: 31px;
		max-width: 1010px;
	}
	h3 {
		margin-bottom: 34px;
	}
	.big-icon {
		height: 70px;
		line-height: 70px;
		margin-bottom: 4px;
		i {
			font-size: 48px;
			color: $main-green-color;
		}
	}
}
.p-contact {
	font-weight: 300;
	font-size: 16px;
	margin-top: 16px;
	color: #595aa1;
	@media (min-width: $screen-breakpoint){
		font-size: 24px;
	}
	a {
		color: #595aa1;
	}
}
#cqmap {
	height: 320px;
	@media (min-width: $screen-breakpoint){
		height: 562px;
	}
}
.devider {
	height: 27px;
	background: url(../svg/devider.svg) left top repeat-x;
}
.img-contact {
	filter: drop-shadow(12px 7px 9px rgba(0,0,0,0.3));
}


// FOOTER
//===============================
.container-wave-footer {
	background: #008CE6;
	@media (min-width: 1281px) {
		background: url(../svg/wave.svg) -5px top repeat-x;
		background-size: cover;
	}
}
.footer {
	padding-top: 30px;
	padding-bottom: 20px;

	@media (min-width: 1281px){
		height: 156px;
		padding-top: 62px;
		padding-bottom: 0;
	}
	@media (min-width: 1600px){
		padding-top: 78px;
	}

	.text-right {
		@media (max-width: $screen-breakpoint - 1px){
			text-align: left;
		}
	}
	a {
		color: #fff;
	}
	.list-inline, .list-inline li {
		@media (min-width: 1280px) {
			margin-bottom: 0;
			line-height: 37px;
			height: 37px;
			a {
				line-height: 37px;
				height: 37px;
				display: inline-block;
			}
		}
	}
}
a.social-square {
	cursor: pointer;
	display: inline-block;
	float: left;
	width: 37px;
	height: 37px;
	text-align: center;
	line-height: 37px;
	background-color: #ff5063;
	margin-left:10px;
	color: #fff;
	overflow: hidden;
	transition: all .25s ease-in-out;
	&:hover, &:focus {
    	text-decoration: none;
    	background-color: $main-green-color-hover;
    	color: #fff;
    }
	i {
		line-height: 37px;
	}

	@media (max-width: $screen-breakpoint - 1px){
		margin: 0 20px 0 0;
	}
}


// NAVBAR
//=================================
#m-navbar {
	display: block;
	background-color: #fff;
	position: fixed;
	top:0;
	height: 100vh;
	z-index: 1080;
	padding-left: 40px;
	padding-top: 0;
	transition: right 0.5s ease-in-out;
	right: -85vw;
	width: 85vw;
	@media (min-width: 769px) {
		width: 50vw;
	}
	&.in {
		right: 0;
		box-shadow: -10px -1px 20px 0px rgba(0, 0, 0, 0.15);
	}
	ul {
		width: 80%;
		padding-top: 75px;
		li {
			a {
				color: #3d3e84;
				line-height: 36px;
				height: 36px;
			}
			.btn-book {
				margin-top: 16px;
			}
			&.m-navbar-strong-item {
				margin: 20px 0;
				a, strong {
					line-height: 1.2;
				}
			}
		}
	}
}
.success-submited {
	display: none;
	max-width: 740px;
	padding: 0 15px;
	margin: 0 auto;
}
.navbar-inverse.navbar-fixed-top {
	transition: background .3s ease-in-out;
	background-color: #fff;
}
.navbar-inverse.navbar-fixed-top.affix {
	background-color: #fff;
	box-shadow: 0px 1px 0px rgba(0,0,0,0.07);
	height: 71px;
	.navbar-main {
		margin-top: 8px;
	}
	.navbar-form.navbar-right {
		margin-top: 11px;
	}
}
.quest-page {
	.navbar-inverse.navbar-fixed-top.affix-top {
		background-color: transparent;
	}
	.navbar-inverse.navbar-fixed-top.affix {
		background-color: #fff;
	}
}

.inner-quest-version .navbar-inverse.affix .navbar-nav>li>a,
.inner-quest-version .affix .nav>li.lang span {
	color: #3d3e84;
}


#orderModal .success-submited {
	max-width: 480px;
}
.container-teeth {
	background-image: url(../svg/teethGrad.svg);
	background-repeat: repeat-x;
	margin-top: 40px;
}
.container-purple-footer {
	background-color: #484783;
	@media (min-width: 480px) {
		background-color: #595aa1;
	}
}
.top-descr {
	z-index:10;
	margin-bottom: 30px;
}

.container-green {
	background-color: #07c86a;
}
.container-deepblue {
	background-color: #3d3e83;
}

.container-purple {
	background-color: #4f5091;
}
#services  {
	.service-square {
		max-width:290px;
		max-height:265px;
		.big-icon {
			height: 106px;
			i {
				font-size: 100px;
				&.icon-it {
					font-size: 76px;
				}
			}
		}

		.service-descr {
			line-height: 1.375em;
			font-size: 1em;
			padding: 0 15px 20px;
		}
	}

	.row-button {
		margin-top: 59px;
	}

	.container-margin {
		margin-top: 22px;
		margin-bottom: 47px;
	}

	h3 {
		margin-bottom: 30px;
		margin-top: 50px;
	}
}
.navbar-form.navbar-right {
	margin-top: 21px;
}

@import "works";
@import "contact";
@import "services";
@import "navhover";

@media (max-width: 480px) {
	.slick-prev, .slick-prev {
		padding-left: 0;
		padding-right: 0;
	}
	#services .service-square {
		max-width: 280px;
	}
	.slick-slide img {
		max-width: 100%;
	}
	.top-slider-clients .slick-slide img {
		max-width: 200px;
	}
	#clients .client1 {
		margin-top: 55px;
	}
}
@media (min-width: 1650px) {
	.max-width-1060 {
		max-width: 1280px;
	}
}

.quest a  { display: inline-block; }

.items {
	position: relative;
}
.center {
  display: inline-block
}
.jello {
	transform-origin: center;
}
.jello-yellow {
	background: url(../svg/ellipsYellow.svg) no-repeat left top;
    background-size: contain;
	position: absolute;
	width: 1416px;
    height: 531px;
	left: -500px;
}
.jello-green {
	background: url(../svg/ellipsBrightGreen.svg) no-repeat left top;
    background-size: contain;
	position: absolute;
	width: 1416px;
    height: 531px;
	right: -1050px;
	bottom: 50px;
}
.jello-red {
	background: url(../svg/ellipsBrightRed.svg) no-repeat left top;
    background-size: contain;
	position: absolute;
	width: 1416px;
    height: 531px;
	right: -1050px;
	bottom: 0;
}

// Floating
// ==========================================================================
@keyframes floating {
  0% { @include transform(translateY(0)); }
  50% { @include transform(translateY(8px)); }
  100% { @include transform(translateY(0)); }
}
@keyframes floatingDown {
  0% { @include transform(translateY(0)); }
  50% { @include transform(translateY(-13px)); }
  100% { @include transform(translateY(0)); }
}
.flyme {	
	position: relative;
	@include transition(all 0.2 ease);
	@include animation-name(floating);
	@include animation-duration(5s);
	@include animation-iteration-count(infinite);
	@include animation-timing-function(ease);
	&.flyDown {
		@include animation-name(floatingDown);
	}
	&.flymeDelay {
		@include animation-delay(1.5s);
	}
}

.animation {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .5s ease;
}

.row-flex {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	.col-md-3 {
		width: 25%;
		min-width: 325px;
	}
}
.row-documents {
	padding-bottom: 80px;
	h4 {
		font-weight: 300;
		font-size: 24px;
		max-width: 350px;
	}
}
.doc-img {
	margin-bottom: 35px;
	margin-top: 75px;
}
.documents-header {
	margin-top: 98px;
	margin-bottom: 56px;
	font-weight: normal;
	font-size: 56px;
	@media (max-width: 1024px) {
		font-size: 42px;
	}
	@media (max-width: 480px) {
		font-size: 36px;
	}
	@media (max-width: 340px) {
		font-size: 28px;
	}
}
.development-header {
	@extend .documents-header;
	margin-top: 0px;
	margin-bottom: 23px;
}
.service-header {
	@extend .documents-header;
}
.container-development {
	margin-bottom: 56px;
}
.container-why-we {
    margin-bottom: 60px;
    margin-top: 10px;
}
.container-documents {
    background:
    	url(../svg/teethGrad.svg) left top repeat-x,
    	url(../svg/devider.svg) left bottom repeat-x;
    margin-bottom: 70px;
}
.container-documents-quests {
    background:
    	url(../svg/teethGrad.svg) left top repeat-x;
    margin-bottom: 34px;
    padding-top: 40px;
}
.lead-text {
	font-size: 24px;
	font-weight: 300;
	line-height: 36px;
	margin-bottom: 16px;
	margin-top: 10px;
	@media (max-width: 340px) {
		font-size: 18px;
		line-height: 1.4;
	}
	@media (max-width: 1024px) {
		font-size: 20px;
	}
}
.text-blue {
	color: #008ce6;
}
.ul-lead {
	margin-top: 25px;
	margin-bottom: 30px;
	li {
		font-size: 24px;
		font-weight: 300;
		line-height: 30px;
		margin-bottom: 20px;
		color: #00e777;
		span {
			color: #3d3e84;
		}
	}
}
@media (max-width: 767px){
	.footer .list-inline {
		margin-left: 0;
	}
}
.text-copy, .list-inline>li.text-copy {
	font-size: 16px;
	color: #fff;
	margin-right: 30px;
	@media (min-width: 1600px) {
		margin-right: 50px;
	}
	padding-left: 0;
	padding-right: 0;
	@media (max-width: $screen-breakpoint - 1px){
		margin-bottom: 0;
	}
	@media (max-width: 1024px){
		display: block;
		margin-bottom: 30px;
	}
}

.list-inline.list-inline-right {
	overflow-y: hidden;
	@media (min-width: 1280px) and (max-width: 1599px) {
		height: 74px;
		.social-footer-link {
			height: 74px;
			padding: 19px 0 18px 0;
		}
		.contact-footer-link {
			max-width: 210px;
			height: 74px;
			text-align: left;
		}
	}
	@media (max-width: 1279px){
		margin-top: 30px;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	li {
		overflow-y: hidden;
		a {
			white-space: nowrap;
		}
		@media (min-width: 1280px){
			&.contact-footer-link {
				a {
					padding-left: 15px;
					padding-right: 15px;
				}
			}
		}
		@media (max-width: 1279px){
			padding-left: 0;
			padding-right: 0;
			display: block;
			&.contact-footer-link {
				a {
					display: block;
				}
			}
			&.social-footer-link {
				text-align: right;
				padding-top: 11px;
				a.social-square {
					margin: 0;
				}
			}
		}
	}
}
.list-inline.list-inline-left {
	@media (min-width: 1280px) and (max-width: 1599px) {
		max-width: 61%;
		height: 74px;
		.strong-footer-link {
			float: left; 
		}
		li.simple-footer-link a:first-child {
			padding-left: 0;
		}
		>li.text-copy {
			height: 74px;
			line-height: 74px;
			float: left;
			display: block;
		}

	}
	li {
		padding-right: 16px;
		&.simple-footer-link,
		&.strong-footer-link {
			padding-left: 0;
		}
		&.strong-footer-link {
			a:first-child {
				padding-right: 20px;
			}
		}
		@media (min-width: 1025px) {
			&.simple-footer-link a {
				padding-left: 20px;
				padding-right: 20px;
			}
		}
	}
	@media (min-width: 768px) and (max-width: 1279px) {
		width: 100%;
		margin-bottom: 0;
		margin-left: 0;
		li.simple-footer-link {
			margin-bottom: 30px;
		}
		li.strong-footer-link {
			display: block;
			width: 100%;
		}
	}
	@media (max-width: 768px){
		>li {
			&.simple-footer-link {
				width: 100%;
				padding-right: 0;
				display: flex;
				justify-content: space-between;
				margin-bottom: 30px;
			}
		}
	}
	@media (max-width: 1024px){
		>li {
			padding-left: 0;
			&.simple-footer-link {
				a {
					margin-right: 20px;
				}
			}
			&.strong-footer-link {
				a {
					display: inline-block;
					&:first-child {
						margin-right: 20px;
					}
				}
			}
		}
	}
}

a.text-underline {
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}
.mb-3 {
	margin-bottom: 30px;
}
.mb-5 {
	margin-bottom: 50px;
}
.mb-7 {
	margin-bottom: 70px;
}
.mb-8 {
	margin-bottom: 80px;
}
.mb-80 {
	margin-bottom: 80px;
}
.mt-3 {
	margin-top: 30px;
}
.mt-4 {
	margin-top: 40px;
}
.mt-5 {
	margin-top: 50px;
}
.pb-5 {
	padding-bottom: 50px;
}
.pt-5 {
	padding-top: 50px;
}
.pt-8 {
	padding-top: 80px;
}
.pt-6 {
	padding-top: 60px;
}
.ul-lead-equipment {
	max-width: 560px;
	margin: 0 auto;
}
.ul-lead-why {
	max-width: 960px;
	margin: 0 auto;
}

.m-tb-30 {
	margin-top: 30px;
	margin-bottom: 30px;
}
.m-tb-50 {
	margin-top: 50px;
	margin-bottom: 50px;
}
.m-tb-60 {
	margin-top: 60px;
	margin-bottom: 60px;
}

.img-center {
	margin: 0 auto;
}
@import "flex";