.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>span>a {
	&:after {
		content: ' ';
		position: absolute;
		left: 0;
		width: 0;
		bottom: 0;
		opacity: 1;
		border-bottom: 2px solid #00e777;
		transition: all .25s ease;
	}
	&:hover, &.active:hover {
		&:after {
			width: 100%;
		}
	}
}
.navbar-inverse .navbar-nav>li.active {
	a {
		color: #00e777;
		&:after {
			width: 100%;
		}
	}
}

.nav > li {
	padding: 0 10px;
	&.lang {
		color: #3d3e84;
		@media (max-width: 1599px) {
			padding-right: 0;
		}
		span {
			color: #3d3e84;
		}
	}
	> a {
		line-height: 1.4em;
		display: inline-block;
		font-size: 0.9em;
	}
	&.nav-tel {
		display: none;
		@media (min-width: 1600px) {
			display: block;
		}
		> a {
			font-weight: 300;
			color: #008ce6;
		}
	}
}
.nav > li {
	@media (min-width: 1200px) {
		padding: 0 30px;
		&:first-child {
			padding-left: 0;
		}
	}
}
@media (min-width: 992px) and (max-width: 1024px) {
	.navbar-main {
		margin-left: 30px;
	}
}

nav.navbar .navbar-main .navbar-nav-second {
	line-height: 1em;
	position: relative;
// 	top: -75px;
	a {
		font-weight: bold;
	}
	li {
		&:last-child {
			padding-right: 0;
		}
		
	}
}

nav.affix.navbar .navbar-main {
	.nav>li {
// 	    line-height: 48px;
	}
	//nav.navbar .navbar-main .navbar-nav-second
	.navbar-nav-second {
// 		top: -50px;
	}
}