.quest-page .navbar-inverse {
  background-color: transparent;
}
.inner-quest-version {
  .navbar-inverse .navbar-nav>li>a,
  .nav>li.lang span {
    color: #fff;
  }
}
.jumbotron.quest {
  position: relative;
  overflow: hidden;
  padding: 0  ;
}

.jumbotron.quest .container{
  padding-top:0;
}
.quest {
  h1 {
    color: #fff;
  }
}

.quest-content {
  padding-left: 20px;
}

.img-container {
    position:relative;
    width: auto;
    height: 344px;
    min-height: 344px;
    @media(min-width: 1005px){
        height: 100%;
    }
    @media(min-width: 1200px){
        height:650px;
    }
    @media(min-width: 1400px){
        height:700px;
    }
    @media(min-width: 1600px){
        height:860px;
    }

    .row-black & {
        @media(max-width: $screen-sm-max){
            margin-left: 0;
            margin-right: 0;
        }
    }
    .carousel-inner, .item {
      height: 100%;
    }
    .item {
      overflow: hidden;
      &::after{
        content:' ';
        position: absolute;
        top:0;
        left: 0;
        height: 100%;
        width: 100%;
        background-position: 0 100%;
        @include background-image(linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.5) 100%));

        @media (max-width: 767px) {
          height: 100%;
        }
      }
      > img {
        left: 0;

        @media (max-width: 767px) {
          position: absolute;
          left: 50%;
          -webkit-transform: translateX(-50%);
          max-width: inherit;
          max-height: 100%;
        }
      }
    }
    .carousel-inner-action .item::before,
    .carousel-inner-action .item::after {
        display: none;
        background-image: none;
    }
    h1 {
      font-size: 56px;
      text-align: center;
      position: absolute;
      bottom: 16px;
      width: 100%;
      @media (max-width: 768px) {
        font-size: 24px;
        bottom: 40%;
        max-width: 70%;
        left: 15%;
      }
    }
}
#carouselPhoto.action .carousel-inner {
    height: 520px;
    @media(max-width: 1024px){
        height: 400px;
    }
}
.container-carousel-nav {
  position: absolute;
  top: 50%;
  margin-top: -36px;
  padding-right: 0;
  padding-left: 0;
  height: 72px;
  width: 100%;
  &:after {
    clear: both;
  }
  &:after, &:before {
    display: table;
    content: " ";
  }

}
.quests_nav {
    position: relative;
    left: 0;
    right: 0;
    height: 0;
    z-index: 100;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 768px) {
      width: 750px;
    }
    @media (min-width: 992px) {
      width: 970px;
    }
    @media (min-width: 1280px) {
      width: 1250px;
    }
}
.arrow-quest {
    position: absolute;
    top: 5px;
    display: inline-block;
    color: #fff;
    opacity: .5;
    font-size: 22px;
    transition: opacity 0.25s;
    &:hover, &:focus {
        opacity: 1;
        color:#fff;
    }
    &.arrow-left{
      left:0px;
    }
    &.arrow-right{
      right:0;
    }
    @media (min-width: 768px) {
        &.arrow-left {
            left: 40px;
        }
        &.arrow-right {
            right: 40px;
        }
    }
    @media (max-width: 767px) {
        top: 0;
        font-size: 28px;
        &.arrow-left {
            left: 16px;
        }
        &.arrow-right {
            right: 16px;
        }
    }
    @media (min-width: 768px) and (max-width: 1023px) {
        &.arrow-right {
            right: 0px;
        }
        &.arrow-left {
            left: 0px;
        }
    }
}

.carousel-indicators {
  position: absolute;
  z-index: 15;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;

  li {
    display: inline-block;
    width:  10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid $carousel-indicator-border-color;
    border-radius: 10px;
    cursor: pointer;

    // IE8-9 hack for event handling
    //
    // Internet Explorer 8-9 does not support clicks on elements without a set
    // `background-color`. We cannot use `filter` since that's not viewed as a
    // background color by the browser. Thus, a hack is needed.
    //
    // For IE8, we set solid black as it doesn't support `rgba()`. For IE9, we
    // set alpha transparency for the best results possible.
    background-color: #000 \9; // IE8
    background-color: rgba(0,0,0,0); // IE9
  }
  .active {
    margin: 0;
    width:  12px;
    height: 12px;
    background-color: $carousel-indicator-active-bg;
  }
}
.carousel-indicators {
    right: 25px;
    /*top: 105px;*/
    left: inherit;
    bottom: 25px;
    text-align: right;
    width:auto;
    max-width: 200px;
    @media (max-width: 1023px){
        right: 0;
        top: initial;
        bottom: 10px;
        left: 0;
        text-align: right;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    li {
        margin:0;
        border-width: 3px;
        border-color:rgba(0,0,0,0);
        position: relative;
        width: 21px;
        height: 21px;
        left:0;
        @media (max-width: 600px) {
            width: 30px;
            height: 30px;
            border-radius: 15px;
        }
        &:after {
            content:' ';
            width: 5px;
            height: 5px;
            display: block;
            border-radius: 5px;
            background-color: $carousel-indicator-border-color;
            position: absolute;
            top:5px;
            left:5px;
            @media (max-width: 600px) {
                width: 6px;
                height: 6px;
                border-radius: 6px;
                top:9px;
                left:9px;
            }
        }
        &.active, &:hover {
            width: 21px;
            height: 21px;
            border-color: $carousel-indicator-active-bg;
            background-color: rgba(0,0,0,0);
            @media (max-width: 600px) {
                width: 30px;
                height: 30px;
            }
            &:after {
                background-color: $carousel-indicator-active-bg;
            }
        }
    }
}
.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out left;
       -o-transition: .6s ease-in-out left;
          transition: .6s ease-in-out left;
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
         -o-transition:      -o-transform .6s ease-in-out;
            transition:         transform .6s ease-in-out;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .item.active {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}

.container-params {
  background-color: #008ce6;
  padding-top: 28px;
  padding-bottom: 24px;
  display: block;
  p {
    em {
      font-style: normal;
      font-size: 18px;
      font-weight: 300;
      line-height: 30px;
      font-family: 'Circe';
      white-space: nowrap;
      display: block;
      color: #fff;
    }
    span {
      font-family: 'Bebas Neue';
      color: #90f8ff;
      font-size: 24px;
      line-height: 30px;
    }
  }
  .icon-star {
    font-size: 18px;
    margin-left: 2px;
    opacity: 0.3;
    &.active {
      opacity: 1;
    }
  }
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  overflow: hidden;
  @media (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: left;
  }
}
.item-flex {
  padding: 0 36px;
  @media (max-width: 1023px) {
    padding-left: 16px;
    padding-right: 16px;
  }
  @media (max-width: 767px) {
    width: 50%;
    padding-left: 5px;
    padding-right: 30px;
  }
}
.container-quest-descr {
  background-color: #fff;
  padding-top: 45px;
  padding-bottom: 45px;
  p {
    font-size: 18px;
    font-weight: 300;
    color: #3d3e84;
  }
  h3 {
    font-family: 'Bebas Neue';
    font-size: 37px;
    margin-top: 30px;
    color: #ff5063;
  }
}
.quest-features {
  max-width: 450px;
  margin: 0;
  text-align: left;
  padding-left: 20px;
  li {
    padding: 2px 0px 2px 3px;
    font-size: 18px;
    font-weight: 300;
    list-style-image: url(../svg/oval.svg);
  }
}
.quest-graph {
  border-bottom: 1px solid #008ce6;
  border-top: 1px solid #e5f3fc;
  max-width: 1050px;
  height: 124px;
  margin: 30px 0 95px;
  position: relative;
  .quest-line {
    width: 100%;
    height: 1px;
    position: relative;
    top: 50%;
    left: 0;
    background-color: #cce8fa;
  }
  .label-wrap, .column-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .column-wrap {
    height: 100%;
    @media (min-width: 768px) {
      .tooltip {
        opacity: 0;
      }
    }
  }
  .column-label {
    margin-top: 10px;
    width: 135px;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
  }
  .quest-column {
    width: 37px;
    min-width: 2px;
    position: relative;

    &:after {
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      content: ' ';
      background-color: #008ce6;
      max-height: 0;
      transition: max-height 2.4s ease-in;
    }
    &:before {
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      font-family: 'Bebas Neue';
      content: ' ';
      color: #008ce6;
      font-size: 24px;
    }
    @for $i from 0 through 100 {
      &.quest-column-#{$i} {
        &:after {
          height: round(percentage($i/100));
        }
        &:before {
          bottom: round(percentage($i/100));
          content: "#{round(percentage($i/100))}";
        }
      }
    }
  }
}
.quest-graph.in-view {
  .quest-column {
    &:after {
      max-height: 100%;
    }
  }
}
