.ru-version {
  .top-slider {
    font-size: 16px;
    @media (min-width: 1024px) and (max-width: 1024px) {
      overflow: hidden;

    }
  }
  #home .big-icon {
    height: 75px;
    .icon-top1, .icon-top2, .icon-top3, .icon-top4, .icon-top5 {
      font-size: 72px;
    }
  }
  #items {
    .container-margin {
      margin-top: 23px;
      margin-bottom: 46px;
    }
    h3 {
      margin-bottom: 42px;
    }
  }
  .items {
    .item-container {
      margin-bottom: 40px;
      min-height: 310px;
    }
    .p-items-descr {
      margin-top: 20px;
      text-transform: uppercase;
      text-align: center;
      font-family: 'Bebas Neue';
      font-size: 24px;
      width: 100%;
    }
  }
  #services {
    .service-square {
      max-width: 215px;
      max-height: 215px;
      @media (min-width: 1024px) and (max-width: 1024px) {
        max-width: 180px;
        max-height: 250px
      }
      .big-icon {
        height: 66px;
        i {
          font-size: 60px;
        }
      }
      .service-descr {
        line-height: 22px;
        font-size: 15px;
        padding: 0 15px 20px;
      }
    }
    .row-button {
      margin-top: 59px;
    }
    .container-margin {
      margin-top: 22px;
      margin-bottom: 47px;
    }
    h3 {
      margin-bottom: 10px;
    }
  }
  #clients {
    position: relative;
    background-image: url(../img/world2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    .client1 {
      margin-top: 70px;
    }
    .client3 {
      margin-top: 68px;
    }
    .container-margin {
      margin-top: 22px;
      margin-bottom: 29px;
      width: 100%;
    }
    h3 {
      margin-bottom: 58px;
    }
  }
  #production {
    .container-margin {
      margin-top: 22px;
      margin-bottom: 29px;
    }
    .row-button {
      margin-top: 20px;
      margin-bottom: 17px;
    }
    .about-header {
      font-size: 30px;
    }
    h3 {
      margin-bottom: 30px;
    }
  }
  .btn-success {
    background-color: #00e777;
    border-color: #00e777;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.72857;
    &:hover {
      background-color: #0c7c46;
      border-color: #0b7241;
    }
  }
  .btn-primary {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.72857;
  }
  .container-green {
    background-color: #07c86a;
  }
  .container-deepblue {
    background-color: #3d3e83;
  }
  .container-purple {
    background-color: #4f5091;
  }
  .container-purple-footer {
    background-color: #484783;
    @media (min-width: 480px) {
      background-color: #595aa1;
    }
  }
  .page-header {
    margin-top: 195px;
  }
  .container-top {
    padding-bottom: 79px;
  }
  .col-20 p {
    line-height: 22px;
  }
  .fullscreen-bg {
    z-index: 2;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    top: 0;
  }
  // .fullscreen-bg__video {
  //   overflow: hidden;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  // }
  .container-top {
    // padding-left: 0;
    .top-descr {
      z-index: 10;
    }
  }
  .item-wrapper {
    position: relative;
    .item {
      padding: 0;
      height: 230px;
      overflow: hidden;
      .quest-overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #000;
        display: block;
        opacity: .35;
        transition: opacity 0.25s ease-in-out;
      }
      &:hover .quest-overlay {
        opacity: 0;
      }
    }
  }
  .service-square {
    .big-icon {
      -webkit-transition: all 200ms ease-out;
      -webkit-transform: scale(1);
      -ms-transition: all 200ms ease-out;
      -ms-transform: scale(1);
      -moz-transition: all 200ms ease-out;
      -moz-transform: scale(1);
      transition: all 200ms ease-out;
      transform: scale(1);
    }
    &:hover .big-icon {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -moz-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
  #contact, #order {
    display: none;
  }
  &.main {
    #contact, #order {
      display: block;
    }
  }
  .container {
    padding: 0;
  }
}
.ru-version .footer {
  @media (max-width: 768px) {
    margin-top: 20px;
  }
  @media (min-width: 1024px) {
    height: 70px;
    margin-top: 50px;
  }
}

.row-oh {
  overflow: hidden;
}
.container-purple-contact {
  background-color: #4f5091;
}

@media (max-width: 768px) {
    .top-slider-serv {
        padding-bottom: 0;
        .slick-prev, .slick-next {
            top: 85px;
        }
    }
}
.top-slider-serv {
  @media (min-width: 1024px) and (max-width: 1024px) {
    .col-20:first-child {
      margin-left: -10px;
    }
  }
}

@media (max-width: 768px) {
  .container-contact {
    .big-icon {
      margin-bottom: 0;
      height: 80px;
      line-height: 100px;
      margin-top: 20px;
    }
  }
}