#services-page {
	.big-icon {
		height: 110px;
		line-height: 100px;

		i {
			&.icon-serv1 {
				font-size:100px;
			}

			&.icon-serv7 {
				font-size:130px;
			}
			&.icon-serv3 {
				font-size: 124px;
			}

			&.icon-serv4 {
				font-size: 102px;
			}

			&.icon-serv5 {
				font-size: 147px;
			}

			&.icon-serv6 {
				font-size: 151px;
			}

		}
	}
	.media-left {
		padding-right: 65px;
		min-width: 197px;
	}
}

#services-page {
	overflow: hidden;
}
@keyframes flyLeft {
	0% {
		left: 100vw;
	}
	100% {
		left: 0;
	}
}
@keyframes flyRight {
	0% {
		left: -100vw;
	}
	100% {
		left: 0;
	}
}

.container-servives .media-heading, .media-heading {
	color: #ff5063;
	font-family: 'Bebas Neue';
	font-size: 36px;
	margin-bottom: 15px;
	text-shadow: 0px 0px 4px #fff;
}
.container-servives {
	max-width: 1180px;
	position: relative;
	.lead {
		font-size: 24px;
		font-weight: 300;
	}
	.media {
		position: relative;
		margin-top: 30px;
		margin-bottom: 60px;
		animation-iteration-count: 1;
		animation-timing-function: ease-in-out;
		animation-duration: .8s;
		&:nth-child(even) {
			left: -100vw;
		}
		&:nth-child(odd) {
			right: -100vw;
		}
		&.in-view {
			&:nth-child(even) {
				left: 0;
				animation-name: flyRight;
			}
			&:nth-child(odd) {
				right: 0;
				animation-name: flyLeft;
			}
		}
	}
	.media-body {
		@media (min-width: 480px) {
			padding-left: 50px;
		}
		p {
			font-size: 18px;
			font-weight: 300;
		}

		@media (max-width: 480px) {
			img.img-responsive {
				display: block;
				margin: 0 auto;
			}
		}
	}
	.media-left + .media-body {
		padding-left: 0;
	}
	.media-object {
		margin-right: 15px;
		filter: drop-shadow(8px 9px 9px rgba(0,0,0,0.3));
		padding-right: 50px;
		padding-bottom: 50px;
		@media (max-width: 768px) {
			max-width: 320px;
		}
	}
	.media-right {
		.media-object {
			margin-right: 0;
			margin-left: 65px;
		}	
	}
	.img-top {
		width: 100%;
		margin-bottom: 26px;
	}
}
