.wotks-h1 {
	color: #3d3e84;
	margin-bottom: 25px;
	margin-top: 50px;
	@media (max-width: 480px) {
		font-size: 32px;
	}
}
.thumbnail-item {
	margin-bottom: 36px;
	h3 {
		font-size: 24px;
		text-align: center;
		text-transform: uppercase;
		font-family: 'Bebas Neue';
		color: #fff;
	}
	a {
		color: #fff;
	}
}

.page-header {
	h1.serv-h1 {
		margin-bottom: 20px;
		font-size: 56px;
		font-weight: normal;
		@media (min-width: $screen-breakpoint) {
			margin-top: 195px;
			margin-bottom: 42px;
			font-size: 56px;
		}
	}

	h1.wotks-h1 {
		font-size: 30px;
		@media (min-width: $screen-xs-min) {
			font-size: 56px;
		}
	}
}

.serv-h1 {
	margin-bottom: 0;
	font-size: 56px;
	font-weight: normal;

}
.lead-serv {
	margin-top: 0;
}


 #contact-page {
	padding-bottom: 0px;
	position: relative;
	bottom: -41px;
	padding-top:40px;
	.container-margin {
		margin-bottom: 0;
		margin-top: 0;
	}
	.page-header {
		margin-top: 70px;
		@media (min-width: $screen-breakpoint) {
			margin-top: 50px;
		}
	}
}
#works-page, #work-page, #quests-page, #services-page {
	padding-bottom: 40px;
	.container-margin {
		margin-bottom: 0;
		margin-top: 0;
	}
	.page-header {
		margin-top: 70px;
		@media (min-width: $screen-breakpoint) {
			margin-top: 50px;
		}
	}
}
#works-page {
	//background:
	//	url(../svg/blobYellowWorks.svg) no-repeat -40vw top,
	//	url(../svg/blobRedWorks.svg) no-repeat 80vw 95vh,
	//	url(../svg/blobGreenWorks.svg) no-repeat 65vw 80vh;
}
#work-page {
}
#contact-page {
	.form-container {
		min-height: 850px;
	}
}
.row-carousel-work {
	margin-bottom: 0;
	margin-top: 0;
}

.margin-ears {
	margin: 0 50px;
	@media (min-width: 1450px) {
		margin: 0 250px;
	}
}
.row-preview {
	margin-bottom: 30px;
}
.thumbnail-work {
	@media (max-width: 767px) {
		max-width: 45%;
	}
	@media (min-width: 768px) {
		//height: 129px;
		width: 167px;
	}
	overflow: hidden;
	margin: 0 5px;
	display: inline-block;
	cursor: pointer;
	padding: 6px;
	border: 2px solid rgba(0,0,0,0);
	&:hover, &.active {
		border-color: #08b769;
	}
}
.mb-30 {
	margin-bottom: 30px;
	@media (max-width: 768px) {
		padding-left: 20px;
		padding-right: 20px;
	}
}
.thumbnail-item {
	margin-bottom: 40px;
	h3 {
		font-size: 24px;
		min-height: 52px;
		text-align: center;
		text-transform: uppercase;
		font-family: 'Bebas Neue';
		color: #342e73;
	}
	a {
		color: #fff;
		display: inline-block;
		overflow: hidden;
		img {
			transition: all .4s ease-in-out;
		}
		&:hover {
			img {
				transform: scale(1.1);
			}
		}
		&.caption {
			display: block;
		}
	}
	.img-responsive {
		min-height: 150px;
		object-fit: cover;
		@media (min-width: 1024px) {
			min-height: 185px;
		}
		@media (min-width: 1025px) {
			width: 100%;
			min-height: 185px;
			max-height: 185px;
		}
		@media (min-width: 1200px) {
			min-height: 205px;
			max-height: 205px;
		}
		@media (min-width: 1350px) {
			min-height: 230px;
			max-height: 230px;
		}
		@media (min-width: 1600px) {
			min-height: 295px;
		}
	}
}

.page-header h1.wotks-h1, .page-header h1.serv-h1 {
	margin-bottom: 20px;
	font-size: 56px;
	font-weight: normal;

	margin-top: 100px;
	@media (min-width: $screen-breakpoint) {
		margin-top: 195px;
		margin-bottom: 42px;
	}
	@media (max-width: 480px) {
		font-size: 40px;
	}
}
.serv-h1 {
	margin-bottom: 35px;
	font-size: 56px;
	font-weight: normal;
}
.lead-serv {
	margin-top: 0;
}

.row-carousel-work {
	margin-bottom: 0;
	margin-top: 0;
}

.margin-ears {
	margin: 0 50px;
	@media (min-width: 1450px) {
		margin: 0 250px;
	}
}
.row-preview {
	margin-bottom: 30px;
}
.thumbnail-work {
	margin: 0 5px;
	display: inline-block;
	cursor: pointer;
	padding: 6px;
	border: 2px solid rgba(0,0,0,0);
	background-color: #fff;
	@media (max-width: 767px) {
		max-width: 45%;
	}
	@media (min-width: 768px) {
		width: 167px;
	}
	&:hover, &.active {
		border-color: #ff5063;
	}
}
.mb-30 {
	margin-bottom: 30px;
	@media (max-width: 768px) {
		padding-left: 20px;
		padding-right: 20px;
	}
}
.work-nav {
	width: 100%;
	height: 61px;
	top: 0px;
	position: relative;
	z-index: 1039;
	transition: opacity 0.5s ease-in;
	margin-bottom: 70px;
	@media (min-width: 768px) {
		height: 125px;
	}
	.container-work-nav {
		margin: 0 auto;
		max-width: 1290px;
	}
	&.affix {
		opacity: 1;
	}
	a {
		display: inline-block;
		cursor: pointer;
		width: 50%;
		margin-top: 10px;
		float: left;
		font-family: 'Bebas Neue';
		font-size: 16px;
		color: #ff5063;
		text-align: left;
		padding-left: 9px;
		position: relative;
		@media (min-width: 768px) {
			font-size: 24px;
			margin-top: 0;
			line-height: 125px;
			height: 125px;
		}
		@media (min-width: 481px) and (max-width: 767px) {
			span {
				margin-top: 10px;
			}
		}
		&.prev-work {
			padding-left: 58px;
			padding-right: 20px;
			@media (max-width: 768px) {
				width: 46%;
				padding-left: 50px;
				span {
					margin-left: 20px;
				}
			}
			@media (max-width: 410px) {
				display: none;
			}
			@media (max-width: 480px) and (min-width: 411px) {
				padding-left: 30px;
			}
		}
		img {
			max-width: 157px;
			display: inline-block;
			margin-right: 26px;
			margin-top: 10px;
			@media (min-width: 410px) and (max-width: 1200px) {
				display: none;
			}
			@media (max-width: 410px) {
				max-width: 100px;
				margin-top: 0;
			}
		}
		span {
			display: inline-block;
			line-height: 1.4em;
			vertical-align: middle;
			@media (min-width: 769px) {
				margin-top: 8px;
			}
		}
		&:hover span {
			text-decoration: underline;
		}

		&.prev-work:before {
			background: url(../svg/arrowLeft.svg) no-repeat left top;
			position: absolute;
			top: 0;
			left: 0;
			@media (max-width: 768px) {
				left: 20px;
			}
		}
		&.next-work {
			float: right;
			text-align: right;
			padding-right: 58px;
			padding-left: 20px;
			@media (max-width: 480px) and (min-width: 411px) {
				padding-right: 30px;
			}
			img {
				margin-right: 0;
				@media (min-width: 1025px) {
					margin-left: 26px;
				}
			}
			span {
				// float: right;
				margin-right: 0px;
				@media (max-width: 768px) {
					margin-right: 20px;
				}
			}
			&:after {
				background: url(../svg/arrowRight.svg) no-repeat left top;
				position: absolute;
				top: 0;
				right: 0;
				margin-right: 0;
				@media (max-width: 768px) {
					right: 20px;
				}

			}
			@media (max-width: 410px) {
				width: 90%;
				img {
					display: inline-block;
				}
			}
			@media (max-width: 350px) {
				width: 100%;
			}
		}

		&.prev-work:before, &.next-work:after {
			content: " ";
			display: block;
			width: 16px;
			height: 29px;
			background-size: 100%;
			opacity: .75;
			margin-top: 7px;
			transition: opacity 0.5s ease-in;

			@media (min-width: 768px) and (max-width: 1023px) {
				margin-top: 25px;
			}
			@media (min-width: 768px) {
				margin-top: 32px;
				height: 64px;
				width: 36px;
			}
		}
		&.next-work {
			&:after {
				@media (max-width: 410px) {
					margin-top: 20px;
				}
			}
		}
		&:hover:after, &:hover:before {
			opacity: 1;
		}
	}
	.separ {
		position: absolute;
		top: 18px;
		left: 50%;
		margin-left: -1px;
		height: 30px;
		width: 2px;
		background-color: #ff5063;
		@media (min-width: 768px) {
			height: 84px;
		}
		@media (max-width: 410px) {
			display: none;
		}
	}
}

.embed-responsive {
	min-width: 320px;
	max-width: 1052px;
	min-height: 240px;
	@media (min-width: 400px) {
		min-width: 400px;
		min-height: 300px;
	}
	@media (min-width: 640px) {
		min-width: 640px;
		min-height: 480px;
	}
	@media (min-width: 768px) {
		min-width: 720px;
		min-height: 300px;
	}
	@media (min-width: 1024px) {
		min-width: 1024px;
		min-height: 702px;
	}
	iframe {
		z-index: 0;

	}
}
.img-youtube-preview {
	height: 100px;
	margin: 0 auto;
}



.row-preview-equip {
	margin-top: 14px;
	.thumbnail-work {
		border-width: 3px;
		width: 150px;
		margin-left: 0;
		margin-right: 0;
		background-color: transparent;
	}
}