//
// Labels
// --------------------------------------------------

.label {
  display: inline;
  font-weight: bold;
  line-height: 1;
  color: $label-color;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 50%;
  border: 1px solid #fff;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  height: 24px;
  width: 24px;
  display: inline-block;
  text-align: center;
  position: relative;
  &.label-green {
    background-color: #00e777;
    border-color: #00e777;
    z-index: 10;
    & + .label {
      margin-left: -4px;
      z-index: 9;
    }
  }

  // [converter] extracted a& to a.label

  // Empty labels collapse automatically (not available in IE8)
  &:empty {
    display: none;
  }

  // Quick fix for labels in buttons
  .btn & {
    position: relative;
    top: -1px;
  }
}

// Add hover effects, but only for links
a.label {
  &:hover,
  &:focus {
    color: $label-link-hover-color;
    text-decoration: none;
    cursor: pointer;
  }
}

// Colors
// Contextual variations (linked labels get darker on :hover)

.label-default {
  @include label-variant($label-default-bg);
}

.label-primary {
  @include label-variant($label-primary-bg);
}

.label-success {
  @include label-variant($label-success-bg);
}

.label-info {
  @include label-variant($label-info-bg);
}

.label-warning {
  @include label-variant($label-warning-bg);
}

.label-danger {
  @include label-variant($label-danger-bg);
}
