.col-md-4.col-xs-12.text-center
  img.img-contact(src="img/redPin.png", alt="")
  p.p-contact г. Москва, <br class="hidden-sm.hidden-xs"> 2-й Хорошёвский проезд,<br class="hidden-sm.hidden-xs"> д.7, стр.1А
.col-md-4.col-xs-12.text-center
  img.img-contact(src="img/mail.png", alt="")
  p.p-contact
    a(href="mailto:factory@cityquest.ru" onclick="ga('send', 'event', 'mail_click', 'click')") factory@cityquest.ru
.col-md-4.col-xs-12.text-center
  img.img-contact(src="img/tel.png", alt="")
  p.p-contact
    a(href="tel:+74955405397" onclick="ga('send', 'event', 'phone_click', 'click')") +7 495 540-53-97