.row.row-documents-header
    .col-xs-12
        //- h2.text-center.documents-header Set of accompanying documents  
        h3.text-center Сопроводительные документы
.row-flex.row-documents
    .col-xs-12.col-md-3.text-center
        .doc-img
            img(src="img/doc1.png", alt="")
        h4 Еscaperoom script
    .col-xs-12.col-md-3.text-center
        .doc-img
            img(src="img/doc2.png", alt="")
        h4 Layout project design for your premises
    .col-xs-12.col-md-3.text-center
        .doc-img
            img(src="img/doc3.png", alt="")
        h4 Designs of print materials used for puzzles and escaperoom decorations
    .col-xs-12.col-md-3.text-center
        .doc-img
            img(src="img/doc4.png", alt="")
        h4 Audio and video materials used in the escaperoom
    .col-xs-12.col-md-3.text-center
        .doc-img
            img(src="img/doc5.png", alt="")
        h4 The list and photos of all escaperoom items mentioned in the script
    .col-xs-12.col-md-3.text-center
        .doc-img
            img(src="img/doc6.png", alt="")
        h4 Video walkthrough of the escaperoom
    .col-xs-12.col-md-3.text-center
        .doc-img
            img(src="img/doc7.png", alt="")
        h4 3 months warranty


