.container-max-width
  .row
    .col-xs-12.top-descr
      .top-slider
        .col-20.text-center
          .big-icon
            span.icon-w-top.icon-w-top-1
          p
            | Полный цикл 
            br
            |  разработки
        .col-20.text-center
          .big-icon
            span.icon-w-top.icon-w-top-2
          p Собственное производство
        .col-20.text-center
          .big-icon
            span.icon-w-top.icon-w-top-3
          p
            | Доставка в любую
            br
            | точку мира
        .col-20.text-center
          .big-icon
            span.icon-w-top.icon-w-top-4
          p
            | Более 80 выполненных 
            br
            | проектов
        .col-20.text-center
          .big-icon
            span.icon-w-top.icon-w-top-5
          p
            | Выполняем все работы 
            br
            |  под ключ