.container-fluid.container-wave-footer#footer
  .container.footer
    .row
      .col-xs-12
        ul.list-inline.list-inline-left.pull-left
          li.text-light.text-left.text-copy © 2014-2016 CITYQUEST
          li.simple-footer-link
            a(href="#") Услуги
            a(href="#") Работы
            a(href="#") Контакты
          li.strong-footer-link
            a(href="quests.html")
              strong Квесты под ключ
            a(href="equipment.html")
              strong Оборудование для детских центров

        ul.list-inline.list-inline-right.pull-right
          li.contact-footer-link
            a.text-underline(href="mailto:factory@cityquest.ru") factory@cityquest.ru
            a.text-underline(href="tel:+7 495 540-53-97") +7 495 540-53-97
          li.social-footer-link
            a.social-square(href="https://www.facebook.com/cityquestru")
              i.icon-fb

#m-navbar.collapse
  button.close(type="button" data-target="#m-navbar" aria-label="Close")
        span(aria-hidden="true")
  ul.list-unstyled
    li
      a(href='services.html')= top.Services
    li
      a(href='works.html')= top.Items
    li
      a(href='contact.html')= top.Contacts
    li.lang
      a(href="/en") En 
      span / Ru
    li.m-navbar-strong-item
      a(href='quests.html')
        strong= top.Quests
    li.m-navbar-strong-item
      a(href='quests.html')
        strong Оборудование для детских центров
    li
      .btn.btn-book(data-toggle="modal" data-target="#orderModal")= top.Order

.modal.fade#orderModal(tabindex="-1" role="dialog")
  .modal-dialog(role="document")
    .modal-content
      button.close(type="button" data-dismiss="modal" aria-label="Close")
        span(aria-hidden="true")
      .modal-body

script(src='js/all.js')