form#order-form

  .success-submited.text-center
    h2 Request has been sent
    p Thank you for contacting our company. In the near future our Manager will contact you and answer all your questions.

  h2.text-center.form-header Заявка
  .row.row-form
    .col-xs-12.col-sm-6.col-form
      .form-group
        label.text-center Имя
        input.form-control(type="text")
    .col-xs-12.col-sm-6.col-form
      .form-group
        label.text-center E-mail
        input.form-control.form-control-error(type="text")
        span.help-block.help-block-error Вы ввели не корректный E-mail

    .col-xs-12.col-form
      .form-group
        label.text-center Описание заказа
        textarea.form-control.form-textarea
    .col-xs-12.col-form.text-center
      a.btn.btn-lg.btn-success.btn-js Заказать