html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title CityQuest Factory
    // Bootstrap
    link(href="favicon.ico" rel="icon")
    link(href='css/main.css', rel='stylesheet')
    meta(property="og:url" content="http://cqf.ru")
    meta(property="og:type" content="article")
    meta(property="og:title" content="CityQuest Factory")
    meta(property="og:description" content="CityQuest Factory description")
    meta(property="og:image" content="CityQuest Factory image")