.row
  .col-xs-12.text-center
    h3 Оборудование и декорации для квестов

  .col-sm-6.col-md-4.col-xs-12.col-xlg-4.col-quest
    .quest-wrapper
      a.quest.text-center(href="quest.html")
        img.img-responsive(src='img/quest_bank.jpg')
      a.quest-title-link(href="")
        h4.quest-title Квест "Ограбление банка"
  .col-sm-6.col-md-4.col-xs-12.col-xlg-4.col-quest
    .quest-wrapper
      a.quest.text-center(href="quest.html")
        img.img-responsive(src='img/quest_experiment.jpg')
      a.quest-title-link(href="")
        h4.quest-title Квест "Орден Ассасинов"
  .col-sm-6.col-md-4.col-xs-12.col-xlg-4.col-quest
    .quest-wrapper
      a.quest.text-center(href="quest.html")
        img.img-responsive(src='img/quest_crypt.jpg')
      a.quest-title-link(href="")
        h4.quest-title Квест "Зазеркалье"

  .clearfix.hidden-sm.hidden-md

  .col-sm-6.col-md-4.col-xs-12.col-xlg-4.col-quest
    .quest-wrapper
      a.quest.text-center(href="")
        img.img-responsive(src='img/quest_theatr.jpg')
      a.quest-title-link(href="")
        h4.quest-title Квест "Магия кино"
  .col-sm-6.col-md-4.col-xs-12.col-xlg-4.col-quest
    .quest-wrapper
      a.quest.text-center(href="")
        img.img-responsive(src='img/quest_bar.jpg')
      a.quest-title-link(href="")
        h4.quest-title Квест "Книга тайн"
  .col-sm-6.col-md-4.col-xs-12.col-xlg-4.col-quest
    .quest-wrapper
      a.quest.text-center(href="")
        img.img-responsive(src='img/quest_museum.jpg')
      a.quest-title-link(href="")
        h4.quest-title Квест "Ночь в музее"


.row
  .col-xs-12.text-center
    a.btn.btn-main.btn-blue(href="works.php") Все работы
