.row
  .col-xs-12.text-center.pb-5
    h3 Квесты под ключ

  .col-sm-6.col-md-4.col-xs-12.col-xlg-4.col-quest
    .quest-wrapper
      a.quest.text-center(href="quest.html")
        img.img-responsive(src='img/quest_bank.jpg')
        span.quest-title-container
          span.quest-price $6 000 +
      a.quest-title-link(href="")
        h4.quest-title The Bank Robbery
  .col-sm-6.col-md-4.col-xs-12.col-xlg-4.col-quest
    .quest-wrapper
      a.quest.text-center(href="quest.html")
        img.img-responsive(src='img/quest_experiment.jpg')
        span.quest-title-container
          span.quest-price $13 850 +
      a.quest-title-link(href="")
        h4.quest-title The last experiment
  .col-sm-6.col-md-4.col-xs-12.col-xlg-4.col-quest
    .quest-wrapper
      a.quest.text-center(href="quest.html")
        img.img-responsive(src='img/quest_crypt.jpg')
        span.quest-title-container
          span.quest-price $19 000 +
      a.quest-title-link(href="")
        h4.quest-title Crypt

  .clearfix.hidden-sm.hidden-md

  .col-sm-6.col-md-4.col-xs-12.col-xlg-4.col-quest
    .quest-wrapper
      a.quest.text-center(href="")
        img.img-responsive(src='img/quest_theatr.jpg')
        .quest-title-container
          span.quest-price $4 500 +
      a.quest-title-link(href="")
        h4.quest-title Secrets of the old theater
  .col-sm-6.col-md-4.col-xs-12.col-xlg-4.col-quest
    .quest-wrapper
      a.quest.text-center(href="")
        img.img-responsive(src='img/quest_bar.jpg')
        .quest-title-container
          span.quest-price $10 800 +
      a.quest-title-link(href="")
        h4.quest-title Bar
  .col-sm-6.col-md-4.col-xs-12.col-xlg-4.col-quest
    .quest-wrapper
      a.quest.text-center(href="")
        img.img-responsive(src='img/quest_museum.jpg')
        .quest-title-container
          span.quest-price $15 050 +
      a.quest-title-link(href="")
        h4.quest-title The Night in the Museum


.row
  .col-xs-12.text-center
    a.btn.btn-main.btn-blue(href="works.php") Все квесты
