.container-fluid
  nav.navbar.navbar-inverse.navbar-fixed-top(data-spy="affix" data-offset-top="1")
    .container
      .row-flex
        .col
          .navbar-header
            a.navbar-brand(href="ru.html")
              include ../svg/logo.svg

            button.navbar-toggle.collapsed(type='button' data-target='#m-navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
        .col-6.hidden-sm.hidden-xs.hidden-md
          #navbar.navbar-collapse.collapse

            .navbar-main
              ul.nav.navbar-nav
                li
                  a(href='services.html')= top.Services
                li.active
                  a(href='works.html')= top.Items
                li
                  a(href='contact.html')= top.Contacts
                li.nav-tel
                  a(href="tel:+7 495 540-53-97") +7 495 540-53-97
                li.lang
                  a(href="en.html") En
                  span / 
                  a(href="ru.html") Ru
              ul.nav.navbar-nav.navbar-nav-second
                li
                  a(href="/quests.html") Квесты под ключ
                li
                  a(href="/equipment.html") Оборудование для детских центров
        .col.hidden-sm.hidden-xs.hidden-md
          .navbar-form.navbar-right
            a.btn.btn-book(data-toggle="modal" data-target="#orderModal")= top.Order