form#order-form
  .form
    .row.row-form
      .col-xs-12.text-center.order-form-title
        h3 Отправить заявку
      .col-xs-12.col-sm-12.col-form
        .form-group.form-group-name
          label.text-center Имя
          input.form-control(name="text" type="text")
          span.help-block Поле обязательно для заполнения
        
      .col-xs-12.col-sm-6.col-form
        .form-group
          label.text-center E-mail
          input.form-control(name="email" type="text")
          span.help-block Поле обязательно для заполнения
      .col-xs-12.col-sm-6.col-form
        .form-group
          label.text-center Телефон
          input.form-control(name="phone" type="text")
          span.help-block Неправильный е-mail
      .col-xs-12.col-form.hidden-in-modal
        .form-group
          label.text-center.label-budget Бюджет
          table.table.table-slider
            tr
              td.td-budget.text-right.hidden-sm.hidden-xs
                span.budget-min 2 000 ₽
              td
                input#budget(type="hidden" value="$2")
                #slider
              td.td-budget.text-light.hidden-sm.hidden-xs
                span.budget-max 200 000 ₽
      .col-xs-12.col-form
        .form-group
          label.text-center Описание заказа
          textarea.form-control.form-textarea(name="description")
      .col-xs-12.col-md-6.col-form.text-left
        label Нажимая на кнопку "Заказать" вы принимаете <a href="#">условия</a> использования персональных данных
      .col-xs-12.col-md-6.col-form.text-right
        button.btn.btn-main.btn-green.btn-lg(type="submit")  Заказать
  .success-submited.text-center
    h2 Заказ был отправлен
    p Ваше сообщение отправлено. Мы свяжемся с вами в ближайшее время.