- var top = { Quests: 'Квесты', Items: 'Работы', Services: 'Услуги', About_us: 'Кто мы?', Contacts: 'Контакты', Order: 'Заказать'}
- var works = { Our_works: 'Наши работы'}
- var service = { Our_service: 'Наши услуги'}
- var contact = { Contacts: 'Контакты'}