extends _layout.pug

block vars
  - var lang = 'ru'
  
block top
  include _nav.pug

block content
  .container-fluid.container-top#contact-page
    .animation
      svg(xmlns="http://www.w3.org/2000/svg" width="100%" height="100%")
        include ../svg/hexYellow.svg
        include ../svg/hexRed.svg
        include ../svg/hexGreen.svg
        include ../svg/hexBlue.svg
    .row
      .col-xs-12.text-center
        h1.wotks-h1= contact.Contacts
        .container.container-contact
          include _contacts.pug

    .row
      .col-xs-12.form-container.text-center
        h3 Заявка
        include _order-form.pug

  .container-fluid#map
    .row.map_container
      #cqmap

block footer
  include _footer.pug
  script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js")
  script(src="js/tween_contact.js")