extends _layout.pug

block vars
  - var lang = 'ru'
  - var bodyClass = 'equip-page'
  
block top
  include _nav.pug

block content
  //- #services-page
  #work-page
    .container-fluid.pt-8
      .animation
        //- svg(xmlns="http://www.w3.org/2000/svg" width="100%" height="100%")
        //-   include ../svg/eRedServ.svg
        //-   include ../svg/eAquaServ.svg
        //-   include ../svg/eBlueServ.svg
        svg(xmlns="http://www.w3.org/2000/svg" width="100%" height="100%")
          include ../svg/hexYellow.svg
          include ../svg/hexRed.svg
          include ../svg/hexGreen.svg
          include ../svg/hexBlue.svg

      .container
        .row
          .col-xs-12.text-center
            h1.wotks-h1 Оборудование для детских развлекательных центров

          .col-xs-12.col-md-7.mt-3 
            img.img-center.img-responsive#snakeImg(src="img/snake.jpg", alt="")
            
            .row.text-center.row-preview.row-preview-equip
              a.thumbnail.thumbnail-work.js-work.active(data-number='0')
                img.img-responsive(src='img/snake-sm-0.jpg' data-img="img/snake.jpg" data-target="snakeImg")
              a.thumbnail.thumbnail-work.js-work(data-number='1')
                img.img-responsive(src='img/snake-sm.jpg' data-img="img/snake-1.jpg" data-target="snakeImg")
              a.thumbnail.thumbnail-work.js-work(data-number='2')
                img.img-responsive(src='img/snake-sm.jpg' data-img="img/snake-2.jpg" data-target="snakeImg")
              a.thumbnail.thumbnail-work.js-work(data-number='3')
                img.img-responsive(src='img/snake-sm.jpg' data-img="img/snake-3.jpg" data-target="snakeImg")

          .col-xs-12.col-md-5.mt-3 
            h4.media-heading Интерактивная игра «Змейка»
            p «Змейка» - аттракцион, состоящий напольных панелей, каждая из которых представляет собой одновременно кнопку и подсветку. Они загораются в случайной последовательности, и команде требуется быстро вставать на загорающиеся панели и при этом покидать те, которые гаснут.
            p Игра продолжается до тех пор, пока не будет нажато необходимое количество кнопок-панелей или совершена ошибка. В этом случае необходимо начать игру заново. Возможны различные варианты внешнего вида и параметры игры.
            p Игровое оборудование для развлекательных центров подарит детям много незабываемых эмоций.

    .container-fluid.devider.m-tb-50

    .container-fluid
      .container
        .row

          .col-xs-12.col-md-7.col-md-push-5.mt-3 
            img.img-center.img-responsive#labirintImg(src="img/labirint2.png", alt="")
            
            .row.text-center.row-preview.row-preview-equip
              a.thumbnail.thumbnail-work.js-work.active(data-number='0')
                img.img-responsive(src='img/snake-sm.jpg' data-img="img/labirint2.png" data-target="labirintImg")
              a.thumbnail.thumbnail-work.js-work(data-number='1')
                img.img-responsive(src='img/snake-sm.jpg' data-img="img/labirint3.png" data-target="labirintImg")
              a.thumbnail.thumbnail-work.js-work(data-number='2')
                img.img-responsive(src='img/snake-sm.jpg' data-img="img/labirint4.png" data-target="labirintImg")
              a.thumbnail.thumbnail-work.js-work(data-number='3')
                img.img-responsive(src='img/snake-sm.jpg' data-img="img/labirint5.png" data-target="labirintImg")

          .col-xs-12.col-md-5.col-md-pull-7.mt-3 
            h4.media-heading.mt-4 Гравитон
            p Интерактивный стенд, привлекающий людей всех возрастов, ведь наблюдать за падающими шариками – это очень увлекательно.
            p Дети управляют различными простыми механизмами, чтобы задать уникальный путь для шара. 
            p Гравитон - оборудование для развлекательного центра, которое имеет закрытую конструкцию, поэтому ни один шарик не окажется на полу.


    .container-fluid.devider.m-tb-50

    .container-fluid.mb-5
      .container
        .row
          .col-xs-12.col-md-7.mt-3
            img.img-center.img-responsive(src="img/pult.png", alt="")
            
            .row.text-center.row-preview.row-preview-equip
              a.thumbnail.thumbnail-work.js-work(data-number='0')
                img.img-responsive(src='img/snake-sm.jpg')
              a.thumbnail.thumbnail-work.js-work(data-number='1')
                img.img-responsive(src='img/snake-sm.jpg')
              a.thumbnail.thumbnail-work.js-work(data-number='2')
                img.img-responsive(src='img/snake-sm.jpg')
              a.thumbnail.thumbnail-work.js-work(data-number='3')
                img.img-responsive(src='img/snake-sm.jpg')

          .col-xs-12.col-md-5.mt-3
            h4.media-heading.mt-4 Кнопки для детского лабиринта
            p Детский лабиринт – это и так весело, а если добавить в обычный лабиринт светящиеся кнопки, то из просто лабиринта он превратится в мини-квестгде надо успевать нажимать на кнопки, пока они горят.
            p Ведь оборудование для детских игровых центров  делается для того, чтобы детям было как можно веселее. Мы с удовольствием доработаем Ваш лабиринт.

          
        .clearfix
    
  .container-fluid.container-documents-quests.container-features
    .row
      .col-xs-12.text-center
        h3 Наши преимущества
      .clearfix
      .col-xs-12.text-center
        include _features.pug

  .container-fluid.devider

  .container-fluid.container-why-we
    .row
      .container.text-center
        h3 Почему мы? 
        ul.ul-lead.text-left.ul-lead-why
          li 
            span Создаем оборудование для развлекательных центров , которое привлекает детей всех возрастов.
          li 
            span Специализируемся на производстве интерактивных изделий, с которыми дети увлеченно взаимодействуют, чтобы получить какой-либо результат или спецэффект.
          li 
            span Производим скульптуры и декорации из различных материалов в зависимости от задач и требований, предъявляемых заказчиком
          li 
            span Разрабатываем программное обеспечение.
          li 
            span Монтируем готовые изделия и занимаемся пусконаладочными работами на объекте.
          li 
            span Производим текущий оперативный ремонт изделий


  .container-fluid.container-documents-quests#order
    .container.container-margin
      .row
        .col-xs-12
          h3.text-center Заказать
        .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
          p.lead-text.text-center Чтобы заказать оборудование для квестов или развлекательных центров, достаточно обратиться к менеджеру нашей компании, используя форму заказа ниже. Укажите свои контактные данные и планируемый бюджет – и наш специалист свяжется с вами в ближайшее время, чтобы уточнить детали.
        .col-md-5.hidden-xs.hidden-sm
          .img-order
            img.img-responsive(src="img/store.png", alt="")
        .col-xs-12.col-md-offset-1.col-md-6.col-lg-5.col-lg-offset-1.form-container
          include _order-form.pug

  .container-fluid.devider

  .container-fluid
    .row.text-center.mb-3
      .col-xs-12.mt-3.mb-3
        h3 Другое оборудование

      .col-md-4.col-sm-6.col-xs-12.col-xlg-4.col-quest
        .quest-wrapper
          a.quest.text-center(href='quest.html')
            img.img-responsive(src='img/quest_bank.jpg')
            span.quest-title-container
              span.quest-price от 12 000
          a.quest-title-link(href='')
            h4.quest-title Квест "Ограбление банка"
      .col-md-4.col-sm-6.col-xs-12.col-xlg-4.col-quest
        .quest-wrapper
          a.quest.text-center(href='quest.html')
            img.img-responsive(src='img/quest_cinema.jpg')
            span.quest-title-container
              span.quest-price от 10 000
          a.quest-title-link(href='')
            h4.quest-title Квест "Орден Ассасинов"
      .col-md-4.col-sm-6.col-xs-12.col-xlg-4.col-quest
        .quest-wrapper
          a.quest.text-center(href='quest.html')
            img.img-responsive(src='img/quest_time.jpg')
            span.quest-title-container
              span.quest-price от 25 000
          a.quest-title-link(href='')
            h4.quest-title Квест "Зазеркалье"


block footer
  .hidden
    include _order-form.pug
  include _footer.pug
  script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js")
  script(src="js/tween_work.js")