extends _layout.pug

block vars
  - var lang = 'ru'
  
block top
  include _nav.pug

block content
  .container-fluid.container-top#quests-page
    .animation
      svg(xmlns="http://www.w3.org/2000/svg" width="100%" height="100%")
        include ../svg/blobYellowWorks.svg
        include ../svg/blobGreenWorks.svg
        include ../svg/blobRedWorks.svg
    .row
      .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2.text-center
        h1.wotks-h1 Квесты под ключ
        p.lead Мы можем произвести полный комплект оборудования и отправить вам  для самостоятельного монтажа или выехать к вам на объект и установить все под ключ. Выберите один из 14 готовых сценариев квестов или пришлите нам свою идею.

      .col-xs-12
        .container.container-margin
          .row.quests.quests-page
            .col-md-4.col-sm-6.col-xs-12.col-xlg-4.col-quest
              .quest-wrapper
                a.quest.text-center(href="quest.html")
                  img.img-responsive(src='img/quest_bank.jpg')
                  span.quest-title-container
                    span.quest-price $6 000 +
                a.quest-title-link(href="")
                  h4.quest-title The Bank Robbery
            .col-md-4.col-sm-6.col-xs-12.col-xlg-4.col-quest
              .quest-wrapper
                a.quest.text-center(href="quest.html")
                  img.img-responsive(src='img/quest_experiment.jpg')
                  span.quest-title-container
                    span.quest-price $13 850 +
                a.quest-title-link(href="")
                  h4.quest-title The last experiment
            .col-md-4.col-sm-6.col-xs-12.col-xlg-4.col-quest
              .quest-wrapper
                a.quest.text-center(href="quest.html")
                  img.img-responsive(src='img/quest_crypt.jpg')
                  span.quest-title-container
                    span.quest-price $19 000 +
                a.quest-title-link(href="")
                  h4.quest-title Crypt
            
            .clearfix.hidden-sm

            .col-md-4.col-sm-6.col-xs-12.col-xlg-4.col-quest
              .quest-wrapper
                a.quest.text-center(href="")
                  img.img-responsive(src='img/quest_theatr.jpg')
                  .quest-title-container
                    span.quest-price $4 500 +
                a.quest-title-link(href="")
                  h4.quest-title Secrets of the old theater
            .col-md-4.col-sm-6.col-xs-12.col-xlg-4.col-quest
              .quest-wrapper
                a.quest.text-center(href="")
                  img.img-responsive(src='img/quest_bar.jpg')
                  .quest-title-container
                    span.quest-price $10 800 +
                a.quest-title-link(href="")
                  h4.quest-title Bar
            .col-md-4.col-sm-6.col-xs-12.col-xlg-4.col-quest
              .quest-wrapper
                a.quest.text-center(href="")
                  img.img-responsive(src='img/quest_museum.jpg')
                  .quest-title-container
                    span.quest-price $15 050 +
                a.quest-title-link(href="")
                  h4.quest-title The Night in the Museum
     
            .clearfix.hidden-sm

            .col-md-4.col-sm-6.col-xs-12.col-xlg-4.col-quest
              .quest-wrapper
                a.quest.text-center(href="")
                  img.img-responsive(src='img/quest_assassin.jpg')
                  .quest-title-container
                    span.quest-price $5 000 +
                a.quest-title-link(href="")
                  h4.quest-title The Assassins’ Order
            .col-md-4.col-sm-6.col-xs-12.col-xlg-4.col-quest
              .quest-wrapper
                a.quest.text-center(href="")
                  img.img-responsive(src='img/quest_glass.jpg')
                  .quest-title-container
                    span.quest-price $5 000 +
                a.quest-title-link(href="")
                  h4.quest-title The Behind the Looking Glass
            .col-md-4.col-sm-6.col-xs-12.col-xlg-4.col-quest
              .quest-wrapper
                a.quest.text-center(href="")
                  img.img-responsive(src='img/q55.jpg')
                  .quest-title-container
                    span.quest-price $13 600 +
                a.quest-title-link(href="")
                  h4.quest-title Ship
            
            .clearfix.hidden-sm
            
            .col-md-4.col-sm-6.col-xs-12.col-xlg-4.col-quest
              .quest-wrapper
                a.quest.text-center(href="")
                  img.img-responsive(src='img/quest_book.jpg')
                  .quest-title-container
                    span.quest-price $14 300 +
                a.quest-title-link(href="")
                  h4.quest-title The Book of Mysteries
            .col-md-4.col-sm-6.col-xs-12.col-xlg-4.col-quest
              .quest-wrapper
                a.quest.text-center(href="")
                  img.img-responsive(src='img/quest_cinema.jpg')
                  .quest-title-container
                    span.quest-price $13 900 +
                a.quest-title-link(href="")
                  h4.quest-title The Cinema Magic
            .col-md-4.col-sm-6.col-xs-12.col-xlg-4.col-quest
              .quest-wrapper
                a.quest.text-center(href="")
                  img.img-responsive(src='img/quest_time.jpg')
                  .quest-title-container
                    span.quest-price $14 500 +
                a.quest-title-link(href="")
                  h4.quest-title Time Machine
      
  .container-fluid.container-development
    .row
      .container.text-center
        h3 Разработка квестов под ключ
        p.lead-text Наши специалисты готовы создать квесты под ключ по вашему заказу. Масштаб и сложность проекта могут быть любыми. Большой опыт работы, наличие специального оборудования, творческий подход позволяют нам создавать квесты, которые приносят радость посетителям.
        p.lead-text Даже если в вашем городе уже работают похожие проекты, мы знаем, как найти особую изюминку, чтобы сделать ваш квест уникальным. Оборудование и декорации разрабатываются квалифицированными специалистами с креативным мышлением, поэтому вы можете быть уверены, что ваш квест будет не похож на другие. Мы изготавливаем необходимый реквизит, используя современное оборудование.

  .container-fluid.container-documents-quests
    .row
      .container.text-center
        h3 Услуги по созданию квеста
        p.lead-text.text-blue В портфолио нашей компании вы сможете найти примеры реализованных проектов, успешно действующих<br> в течение длительного времени. Услуги по созданию квеста включают полный комплекс работ.

        .col-sm-5.col-sm-offset-1.text-left
          ul.ul-lead
            li
              span Наши сценаристы пишут интересный сценарий, ориентируясь на вашу идею квеста.
            li
              span Мы готовим проект.
            li
              span Подбираем соответствующее оборудование – изготавливаем его на собственной производственной базе нашей компании.

        .col-sm-5.text-left
          ul.ul-lead
            li
              span Строительство квеста ведется в кратчайшие сроки.
            li
              span Опытные инженеры и электрики разработают монтажные конструкции с необходимой электроникой.
            li
              span Монтируются оборудование и декорации.
            li
              span Проводится тестирование квеста.
  .container-fluid.devider

  .container-fluid
    .row
      .container
        include _documents.pug

  .container-fluid.container-documents-quests
    .row
      .container.text-center
        h3 Как заказать строительство квеста?
        p.lead-text Сделать заказ можно, обратившись к менеджеру нашей компании по номерам телефонов, указанным на сайте.<br>Второй вариант – воспользоваться формой заказа, размещенной в правом верхнем углу портала.
        p.lead-text Вы оставляете свои контактные данные – и наш специалист перезванивает вам в ближайшее время.<br>После уточнения деталей мы составляем проект вашего квеста, учитывающий все детали.<br>Проект сдается заказчику «под ключ». Он полностью готов к работе – вы сразу же можете приглашать посетителей. 

  .container-fluid.devider

  .container-fluid.container-why-we
    .row
      .container.text-center
        h3 Почему мы? 
        p.lead-text Наша компания – это команда грамотных специалистов, которые работают индустрии производства квест комнат и оборудованиядля развлекательных центров не один год. Опытные, увлеченные своим делом дизайнеры, архитекторы, сценаристы, инженеры, программистыи менеджеры проектов работают в одной команде. Алгоритм реализации проектов четко отработан, что дает возможность воплощать в реальность даже самые сложные решения.

block footer
  .hidden
    include _order-form.pug
  include _footer.pug
  script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js")
  script(src="js/tween_quests.js")