extends _layout.pug

block vars
  - var lang = 'inner-quest'
  - var bodyClass = 'quest-page'
  
block top
  include _nav.pug

block content
  .jumbotron.quest
    #carouselPhoto.img-container.carousel.slide(data-ride="carousel")
      ol.carousel-indicators.carousel-indicators2
        li.active(data-target="#carouselPhoto" data-slide-to="0")
        li(data-target="#carouselPhoto" data-slide-to="1")
        li(data-target="#carouselPhoto" data-slide-to="2")
        li(data-target="#carouselPhoto" data-slide-to="3")
      .carousel-inner(role="listbox")
        .item.active
          img.img-responsive(src="img/quest1.jpg")
        .item
          img.img-responsive(src="img/quest2.jpg")
        .item
          img.img-responsive(src="img/quest3.jpg")
        .item
          img.img-responsive(src="img/quest4.jpg")
      .container-carousel-nav
        .quests_nav
          a.left.carousel-control.arrow-quest.arrow-left(href="#carouselPhoto" role="button" data-slide="prev")
            | <svg xmlns="http://www.w3.org/2000/svg" width="33" height="62" viewBox="0 0 33 62">
            |  <path fill="#fff" d="M30.9,62l2.109-2.116L4.212,31,33.006,2.11,30.9-.006l-30.9,31Z"></path>
            | </svg>
            span.sr-only Previous
          a.right.carousel-control.arrow-quest.arrow-right(href="#carouselPhoto" role="button" data-slide="next")
            | <svg xmlns="http://www.w3.org/2000/svg" width="34" height="62" viewBox="0 0 34 62">
            |  <path fill="#fff" d="M3.072,62L0.963,59.883,29.756,31,0.963,2.11,3.072-.006l30.9,31Z"></path>
            | </svg>
            span.sr-only Next
      h1 Квест <span class="nowrap">«Орден Ассасинов»<span>
  .clearfix
  .container-fluid.container-params
    .row
      .container
        .row
          .col-xs-12.col-xs-offset-0.col-sm-12.col-sm-offset-0.col-lg-10.col-lg-offset-1
            .flex-container
              .item-flex
                p 
                  em Площадь:
                  span 35 кв.м
              .item-flex
                p 
                  em Кол-во игроков:
                  span 2-5
              .item-flex
                p 
                  em Кол-во комнат:
                  span 4
              .item-flex
                p
                  em Сложность:
                  span
                    i.icon-star.active
                    i.icon-star.active
                    i.icon-star.active
                    i.icon-star.active
                    i.icon-star
              .item-flex
                p 
                  em Стоимость:
                  span от $25 000
  .container-fluid.container-quest-descr
    .row
      .container
        .row
          .quest-content.col-xs-12.col-xs-offset-0.col-sm-10.col-sm-offset-1.col-lg-8.col-lg-offset-2.text-left
            p Из-за вспышек на солнце пришли в действие все катаклизмы, над нами нависла угроза апокалипсиса. Историки утверждают,<br class="hidden-sm hidden-xs hidden-md"> что такое уже бывало и мудрецы создали устройство, способное остановить вспышки. Древний орден ассасинов<br class="hidden-sm hidden-xs hidden-md"> нашел это устройство и хранил информацию о нем веками. Но со временем эти знания и само устройство были утеряны.<br class="hidden-sm hidden-xs hidden-md"> Вам предстоит проникнуть в воспоминания ваших предков – ассасинов, найти устройство и спасти мир.
            h3 Особенности

            ul.quest-features
              li Создан по мотивам игры
              li Имеет нестандартные переходы между комнатами
              li Большая площадь квеста
              li Подходит для больших компаний
            
            h3 Задания

            .quest-graph
              .quest-line
              .column-wrap
                .quest-column.quest-column-18(data-toggle="tooltip" data-placement="bottom" title="Тематические")
                .quest-column.quest-column-23(data-toggle="tooltip" data-placement="bottom" title="Логические")
                .quest-column.quest-column-45(data-toggle="tooltip" data-placement="bottom" title="Математические")
                .quest-column.quest-column-100(data-toggle="tooltip" data-placement="bottom" title="Командные")
                .quest-column.quest-column-80(data-toggle="tooltip" data-placement="bottom" title="Поисковые")
              .label-wrap.hidden-xs
                .column-label Тематические
                .column-label Логические
                .column-label Математические
                .column-label Командные
                .column-label Поисковые
        .row
          .col-xs-12.text-center
            a.btn.btn-main.btn-green(data-toggle="modal" data-target="#orderModal") Заказать
  
  .container-fluid.container-documents
    .row
      .container
        include _documents.pug            
    
  .container-fluid
    .row
      .container
        .row 
          .col-xs-12
            .work-nav
              .container-work-nav
                a.prev-work(href="#2")
                  table
                    tr
                      td
                        img.img-responsive(src="img/item1.jpg")
                      td
                        span Квест "Магия кино"
                a.next-work(href="#1")
                  table.pull-right
                    tr
                      td
                        span Квест "Зазеркалье"
                      td
                        img.img-responsive(src="img/item2.jpg")
                span.separ    
              
block footer
  .hidden
    include _order-form.pug
  include _footer.pug
