extends _layout.pug

block vars
  - var lang = 'ru'
  - var bodyClass = ''
  - var videoSrc = ''

block top
  include _nav.pug

block content
    .container-top-bgr.hidden-xs.hidden-sm
      .container-fluid.container-max-width-1900
        .row
          .col-md-4.col-lg-6.text-left
              .img-top-container.img-top-container-1.flyme
                img.img-top-bgr-1.img-responsive(src="img/w-top-left.png", alt="")
          .col-md-offset-4.col-lg-offset-0.col-md-4.col-lg-6.text-right
              .img-top-container.img-top-container-2.flyme.flymeDelay
                img.img-top-bgr-2.img-responsive(src="img/3_op.png", alt="")
    #home.container.container-top
      .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3.col-lg-8.col-lg-offset-2.col-xlg-6.col-xlg-offset-3.top-descr
          .page-header.text-center.flyme.flyDown
            h1 Производство квестов <br class="hidden-xs">и интерактивного оборудования <br class="hidden-xs">для развлекательных центров
      .container-max-width
        .row
          .col-xs-12.top-descr
            .top-slider
              .col-20.text-center
                .big-icon
                  span.icon-w-top.icon-w-top-1
                p Полный цикл <br> разработки
              .col-20.text-center
                .big-icon
                  span.icon-w-top.icon-w-top-2
                p Собственное производство
              .col-20.text-center
                .big-icon
                  span.icon-w-top.icon-w-top-3
                p Доставка в любую<br>точку мира
              .col-20.text-center
                .big-icon
                  span.icon-w-top.icon-w-top-4
                p Более 80 выполненных <br>проектов
              .col-20.text-center
                .big-icon
                  span.icon-w-top.icon-w-top-5
                p Выполняем все работы <br> под ключ
    #items.container-fluid.items
      .animation
        svg(xmlns="http://www.w3.org/2000/svg" width="100%" height="400")
          include ../svg/ellipsBrightGreen.svg
          include ../svg/ellipsBrightRed.svg
          include ../svg/ellipsYellow.svg
      .container.container-margin
        include _index_works.pug

    .container-fluid.container-documents-quests.mb-7
      .row
        .container.text-center
          h3 Почему мы? 
          p.lead-text Оборудование для квеста, которое будет исправно работать и радовать посетителей – это наша специализация.<br class="hidden-xs hidden-sm"> Мы знаем, как найти верное решение в каждом конкретном случае и готовы предложить вам оригинальные идеи.
          p.lead-text Современная техника и технологии, которыми располагает наша компания, позволяют реализовать даже самые необычные задумки.<br class="hidden-xs hidden-sm">В распоряжении наших специалистов – фрезерные станки с ЧПУ, оборудование для лазерной гравировки и резки, 3D-принтеры и другие возможности. Благодаря этому мы быстро и качественно создаем различные конструкции, необходимые для прохождения интересных увлекательных квестов.
  
    .container-fluid.devider

    #services.container-fluid
      .container.container-margin
        .row
          .col-xs-12.text-center
            h3 Наши услуги
        .row
          .col-xs-12.col-sm-6
            .media
              .media-left.media-left-service
                a
                  img.img-service(src="img/service1.png", alt="")
              .media-body
                p.p-service Создание квестов под ключ и оборудования для них
          .col-xs-12.col-sm-6
            .media
              .media-left.media-left-service
                a
                  img.img-service(src="img/service2.png", alt="")
              .media-body
                p.p-service Оборудование для детских развлекательных центров и музеев
          .col-xs-12.col-sm-6
            .media
              .media-left.media-left-service
                a
                  img.img-service(src="img/service3.png", alt="")
              .media-body
                p.p-service Декорации для выставок, театров и кино
          .col-xs-12.col-sm-6
            .media
              .media-left.media-left-service
                a
                  img.img-service(src="img/service4.png", alt="")
              .media-body
                p.p-service Интерактивные инсталляции для торговых центров

        .row.row-button
          .col-xs-12.text-center
            a.btn.btn-main.btn-green(href="services.html")  подробнее
    #production.container-fluid.container-teeth
      .container.container-margin
        .row
          .col-xs-12.text-center
            h3 О нас
            p.about-header Мы обладаем необходимыми мощностями для создания<br> развлечений любой сложности
          .col-xs-12.col-md-4.col-sm-4.col-lg-4.text-center
            .img-about.img-about-1
              img(src="img/about1.png", alt="")
            p.product-descr Собственная<br> производственная<br> площадка в Москве
          
          .col-xs-12.col-md-4.col-sm-4.col-lg-4.text-center
            .img-about.img-about-3
              img(src="img/about3.png", alt="")
            p.product-descr 25 специалистов, включая  инженеров, декораторов, архитекторов, бутафоров, программистов, сценаристов

          .col-xs-12.col-md-4.col-sm-4.col-lg-4.text-center
            .img-about.img-about-2
              img(src="img/about2.png", alt="")
            p.product-descr Все необходимое <br>оборудование и инструменты

    .container-fluid.devider
    
    .container-fluid
      .row
        .container.text-center
          h3 Оборудование и декорации для квестов
          .row
            .col-xs-12.text-left
              ul.ul-lead.ul-lead-equipment
                li
                  span электронные модули
                li
                  span декоративные функциональные загадки
                li
                  span интерактивные игры
                li
                  span бутафория, реквизит и декорации для квестов
                li
                  span системы управления квестами и многое другое

    .container-fluid.container-documents-quests.mt-5.pt-6
      .container
        include _index_quests.pug


    #clients.container-fluid.container-world
      .container.container-margin
        .row
          .col-xlg-8.col-xlg-offset-2.col-lg-10.col-lg-offset-1.col-sm-10.col-sm-offset-1.col-xs-12.text-center
            h3 Наши клиенты
            .row.top-slider-clients
              .col-xs-12.col-sm-6.col-md-3.text-center.client1
                img.img-responsive(src="img/client11.png")
              .col-xs-12.col-sm-6.col-md-3.text-center.client2
                img.img-responsive(src="img/client2.png")
              .col-xs-12.col-sm-6.col-md-3.text-center.client3
                img.img-responsive(src="img/client3.png")
              .col-xs-12.col-sm-6.col-md-3.text-center.client4
                img.img-responsive(src="img/client-maxima-sm.png")
              .col-xs-12.col-sm-6.col-md-3.text-center.client5
                img.img-responsive(src="img/kidzania.png")
              .col-xs-12.col-sm-6.col-md-3.text-center.client1
                img.img-responsive(src="img/client11.png")
              .col-xs-12.col-sm-6.col-md-3.text-center.client2
                img.img-responsive(src="img/client2.png")
              .col-xs-12.col-sm-6.col-md-3.text-center.client3
                img.img-responsive(src="img/client3.png")
    #order.container-fluid
      .container.container-margin
        .row
          .col-xs-12
            h3.text-center Заказать
          .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
            p.lead-text.text-center Чтобы заказать оборудование для квестов или развлекательных центров, достаточно обратиться к менеджеру нашей компании, используя форму заказа ниже. Укажите свои контактные данные и планируемый бюджет – и наш специалист свяжется с вами в ближайшее время, чтобы уточнить детали.
          .col-md-5.hidden-xs.hidden-sm
            .img-order
              img.img-responsive(src="img/store.png", alt="")
          .col-xs-12.col-md-offset-1.col-md-6.col-lg-5.col-lg-offset-1.form-container
            include _order-form.pug
    .container-fluid.devider
    #contact.container-fluid
      .container.container-margin
        .row
          .col-xs-12.text-center
            h3 Контакты
          include _contacts.pug

block footer
  include _footer.pug
  script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")

  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js")
  script(src="js/tween.js")
