extends _layout.pug

block vars
  - var lang = 'ru'
  
block top
  include _nav.pug

block content
  .container-fluid.container-top#services-page
    .animation
      svg(xmlns="http://www.w3.org/2000/svg" width="100%" height="100%")
        include ../svg/eRedServ.svg
        include ../svg/eAquaServ.svg
        include ../svg/eBlueServ.svg
    .row
      .col-xs-12.text-center
        h1.serv-h1= service.Our_service
      .col-xs-12
        .container.container-servives
          p.lead.lead-serv.text-center Мы являемся производственной компанией полного цикла<br> и выполняем все этапы работ по созданию необходимого вам оборудования.

          .media-list
            .media
              .media-left.hidden-xs
                a
                  img.media-object(src="img/service1-lg.png")
              .media-body
                .img-top.text-center.visible-xs-inline-block
                  img.img-responsive(src="img/service1-lg.png")
                h4.media-heading Создание квестов под ключ и оборудования для них
                p Особенностью нашего производства является то, что мы совмещаем красивые декорации и бутафорию с механикой и электроникой. Это позволяет нам создавать конструкции, которые могут реалистично двигаться, разговаривать, отвечать на действия людей, реагировать на свет, воду или другие внешние воздействия. Такое оборудование востребовано как в индустрии развлечений, так и в рекламной сфере. Мы можем сделать так, что захочется сказать: «Это магия!»
            .media
              .media-body
                .img-top.text-center.visible-xs-inline-block
                  img.img-responsive(src="img/service2-lg.png")
                h4.media-heading Оборудование для детских развлекательных центров и музеев
                p Если вам необходимо создание только электронных компонентов, то мы готовы их для вас изготовить и установить. Мы проводим все этапы работ, начиная от изготовления печатных плат и заканчивая написанием программного обеспечения. Наши специалисты работают со всеми популярными типами контроллеров, например такими как Arduino и  Raspberry, со всеми типами датчиков и элементов управления. Нашей особенностью является также то, что мы можем обеспечить скрытый монтаж всех электронных компонентов и датчиков в оборудование так, что они будут практически незаметны.
              .media-right.hidden-xs
                a
                  img.media-object(src="img/service2-lg.png")

            .media
              .media-left.hidden-xs
                a
                  img.media-object(src="img/service3-lg.png")
              .media-body
                .img-top.text-center.visible-xs-inline-block
                  img.img-responsive(src="img/service3-lg.png")
                h4.media-heading Декорации для выставок, театров и кино
                p Создание сложного оборудования невозможно без этапа проектирования. Наши конструкторы совместно с декораторами могут разработать для вас все необходимые чертежи и визуализации интерактивного оборудования и декораций. В дальнейшем эти материалы используются непосредственно для производства, включая постановку задач для ЧПУ станков, для монтажа изделий на месте использования, а также для проведения строительных работ в части прокладки коммуникаций и строительства технологических отсеков и ниш.
            .media
              .media-body
                .img-top.text-center.visible-xs-inline-block
                  img.img-responsive(src="img/service4-lg.png")
                h4.media-heading Интерактивные инсталляции для торговых центров
                p Мы сами управляем несколькими форматами новых развлечений и постоянно узнаем у наших посетителей об их эмоциях и впечатлениях. Поэтому мы знаем, как они хотят проводить время. Мы создаем сценарии как отдельных мероприятий, например корпоративных праздников, так и концепции развлекательных центров с несколькими форматами развлечений. Мы работаем со всеми сегментами целевой аудитории развлечений, начиная от детей и заканчивая узкими группами посетителей мероприятий. Если у вас есть задача развлечь людей, мы готовы придумать как это можно сделать, будь это квест, детский развлекательный центр или корпоратив на новый год.
              .media-right.hidden-xs
                a
                  img.media-object(src="img/service4-lg.png")

block footer
  .hidden
    include _order-form.pug
  include _footer.pug
  script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js")
  script(src="js/tween_serv.js")