extends _layout.pug

block vars
  - var lang = 'ru'
  
block top
  include _nav.pug

block content

  .container-fluid.container-top#work-page
    .animation
      svg(xmlns="http://www.w3.org/2000/svg" width="100%" height="100%")
        include ../svg/hexYellow.svg
        include ../svg/hexRed.svg
        include ../svg/hexGreen.svg
        include ../svg/hexBlue.svg
    .row
      .col-xs-12.text-center
        h1.wotks-h1 Стойка ресепшн для развлекательного центра

    .row.row-carousel.row-carousel-work
      ul.list-unstyled.carousel-slick
        li
          img.img-responsive(src="img/item1.jpg")
        li
          .embed-responsive <iframe width="100%" src="https://www.youtube.com/embed/AegMEaj6lR8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        li
          img.img-responsive(src="img/item2.jpg")
        li
          img.img-responsive(src="img/item3.jpg")
        li
          img.img-responsive(src="img/item4.jpg")
        li
          img.img-responsive(src="img/item5.jpg")
        li
          img.img-responsive(src="img/item6.jpg")
  
    .container.max-width-1060
      .row
        .col-xs-12
          
          .row.text-center.row-preview
            a.thumbnail.thumbnail-work.js-work(data-number="0")
              img.img-responsive(src="img/item1.jpg")
            a.thumbnail.thumbnail-work.js-work(data-number="1")
              //- img.img-responsive.img-youtube-preview(src="https://img.youtube.com/vi/AegMEaj6lR8/sddefault.jpg")
              img.img-responsive(src="img/item_youtube_sm.jpg")
            a.thumbnail.thumbnail-work.js-work(data-number="2")
              img.img-responsive(src="img/item2.jpg")
            a.thumbnail.thumbnail-work.js-work(data-number="3")
              img.img-responsive(src="img/item3.jpg")
            a.thumbnail.thumbnail-work.js-work(data-number="4")
              img.img-responsive(src="img/item4.jpg")
            a.thumbnail.thumbnail-work.js-work(data-number="5")
              img.img-responsive(src="img/item5.jpg")
            a.thumbnail.thumbnail-work.js-work(data-number="6")
              img.img-responsive(src="img/item6.jpg")
            a.thumbnail.thumbnail-work.js-work(data-number="0")
              img.img-responsive(src="img/item1.jpg")
            a.thumbnail.thumbnail-work.js-work(data-number="3")
              img.img-responsive(src="img/item4.jpg")
            a.thumbnail.thumbnail-work.js-work(data-number="4")
              img.img-responsive(src="img/item5.jpg")
            a.thumbnail.thumbnail-work.js-work(data-number="5")
              img.img-responsive(src="img/item6.jpg")

          .text-left
            p.mb-30 В ходе экскурсии по пожарной части вы с друзьями и представить не могли, что из обычных посетителей превратитесь в настоящих спасателей. Ведь если весь город в огне, и все силы брошены на борьбу со стихией, надеяться придётся только на свои силы. К счастью, пожарная часть оборудована по последнему слову техники, нужно лишь очень быстро понять, как тут всё работает. 

        .col-xs-12.col-form.text-center
          a.btn.btn-main.btn-green(data-toggle="modal" data-target="#orderModal") Заказать

          //- (data-spy="affix" data-offset-bottom="0")
          .work-nav
            .container-work-nav
              a.prev-work(href="#2")
                table
                  tr
                    td
                      img.img-responsive(src="img/item3.jpg")
                    td
                      span Кибер пушка для Баскет Экспо
              a.next-work(href="#1")
                table.pull-right
                  tr
                    td
                      span ПНЕВМАТИЧЕСКАЯ ПУШКА ДЛЯ ЭКСПО-БАСКЕТ 2016
                    td
                      img.img-responsive(src="img/item2.jpg")
              span.separ
                
block footer
  .hidden
    include _order-form.pug
  include _footer.pug
  script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js")
  script(src="js/tween_work.js")
