extends _layout.pug

block vars
  - var lang = 'ru'
  
block top
  include _nav.pug

block content
  .container-fluid.container-top#works-page
    .animation
      svg(xmlns="http://www.w3.org/2000/svg" width="100%" height="100%")
        include ../svg/blobYellowWorks.svg
        include ../svg/blobGreenWorks.svg
        include ../svg/blobRedWorks.svg
    .row
      .col-xs-12.text-center
        h1.wotks-h1= works.Our_works

      .margin-ears
        each val in [1, 2, 3]
          .col-xs-12.col-sm-6.col-md-4
            .thumbnail.thumbnail-item
              a(href="work.html")
                img.img-responsive(src="img/item3.jpg")
              a.caption(href="work.html")
                h3 Кибер пушка для Баскет Экспо
          .col-xs-12.col-sm-6.col-md-4
            .thumbnail.thumbnail-item
              a(href="work.html")
                img.img-responsive(src="img/item2.jpg")
              .caption
                h3 Кибер пушка
          .clearfix.hidden-md.hidden-lg.hidden-xs
          .col-xs-12.col-sm-6.col-md-4
            .thumbnail.thumbnail-item
              a(href="work.html")
                img.img-responsive(src="img/item1.jpg")
              .caption
                h3 Стойка ресепшн для развлекательного центра
          .clearfix.hidden-sm.hidden-xs
          .col-xs-12.col-sm-6.col-md-4
            .thumbnail.thumbnail-item
              a(href="work.html")
                img.img-responsive(src="img/item4.jpg")
              .caption
                h3 Кибер пушка для Баскет Экспо
          .clearfix.hidden-md.hidden-lg.hidden-xs
          .col-xs-12.col-sm-6.col-md-4
            .thumbnail.thumbnail-item
              a(href="work.html")
                img.img-responsive(src="img/item5.jpg")
              .caption
                h3 Кибер пушка для Баскет Экспо
          .col-xs-12.col-sm-6.col-md-4
            .thumbnail.thumbnail-item
              a(href="work.html")
                img.img-responsive(src="img/item6.jpg")
              .caption
                h3 Кибер пушка для Баскет Экспо

block footer
  .hidden
    include _order-form.pug
  include _footer.pug
  script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js")
  script(src="js/tween_works.js")
  